.white-text {
  color: #ffffff !important; }

/* Shadow Elevation/04 */
/* Shadow Elevation/12 */
/* Shadow Elevation/06 */
/* Shadow Elevation/03 */
@keyframes modalEaseOut {
  from {
    transform: translateY(-6.25rem);
    opacity: 0; }
  to {
    transform: translateY(0rem);
    opacity: 1; } }
@keyframes modalTrans {
  from {
    transform: translateY(100%); }
  to {
    transform: translate(0); } }
