@import "../base/global";
@import "../base/reset";
@import "../base/variable";

.slick-track {
  width: 100% !important;
  display: flex !important;
  gap: 1.5rem !important;
}
.slick-list {
  padding: unset !important;
}

.slick-track {
  display: flex !important;
  gap: 1.5rem !important;
}

.slick-prev:before {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-next:before {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-prev {
  position: absolute;
  top: 10%;
  left: -5%;
  z-index: 10;
  cursor: pointer;
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  background: unset;
  color: black;
  &:hover {
    cursor: pointer;
    svg path {
      fill: black;
    }
  }
}

.slick-next {
  position: absolute;
  top: 10%;
  right: -5%;
  z-index: 10;
  cursor: pointer;
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  color: black;
  background: unset;
  &:hover {
    cursor: pointer;
    svg path {
      fill: black;
    }
  }
}

.slider {
  width: 100%;
  padding: 2rem 0;

  &-bg {
    width: 100%;
    position: relative;
  }

  &_heading {
    @extend .font_heading-6;
    margin-bottom: 1.25rem;
    width: 100%;
    font-weight: 600;
    text-align: center;
    color: $black-800;
  }

  &_list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 1.5rem;
  }

  &_item {
    width: 116.5px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem;
    gap: 0.5rem;
    width: 100%;
    height: 5rem;
  }
  &_item-wrapper {
    width: 116.5px !important;
    display: flex;
    justify-content: center;
  }

  &_item-img {
    height: 2.5rem;
    width: 2.5rem;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &_item-title {
    margin-top: 0.5rem;
    @extend .font_caption;
    width: 100%;
    margin-bottom: unset;
    font-weight: 500;
    align-items: center;
    text-align: center;
    color: $brown-600;
  }

  &-wrapper {
    position: relative;
  }

  &-actions {
    position: absolute;
    width: 100%;
    height: 5rem;
    content: "";
    z-index: -1;
    top: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-next,
    &-prev {
      width: 1.5rem;
      height: 1.5rem;
      background-color: unset;
      border: unset;
      display: flex;
      align-items: center;
      justify-content: center;
      display: none;
    }

    &-next {
      right: 0;
    }

    &-prev {
      left: 0;
    }
  }
}

.benefits {
  .background-1 {
    background-image: url(../../assets/images/sustainability&recycling/commitment_1.png);
    background-repeat: no-repeat;
    background-position: center;
    object-position: center;
    width: 100%;
    height: 25rem;
    position: relative;
    background-size: cover;
  }

  .background-2 {
    background-image: url(../../assets/images/benefits/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    object-position: center;
    width: 100%;
    height: 26.25rem;
    position: relative;
  }

  &_frame {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &-heading {
      @extend .font_heading-3;
      width: 100%;
      margin-bottom: unset;
      font-weight: 600;
      text-align: center;
      color: $white;
    }

    &-des {
      @extend .font_body-1;
      width: 100%;
      margin-top: 1.25rem;
      margin-bottom: unset;
      font-weight: 400;
      text-align: center;
      color: $white;
    }

    &-footer {
      width: 100%;
      margin-top: 1.25rem;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;

      button {
        @extend .font_button;
        font-style: normal;
        text-align: center;
        color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 1.5rem;
        height: 2.5625rem;
        background: $green-50;
        border-radius: 2.5rem;
        border: unset;
        font-weight: 600;
        cursor: pointer;

        &:hover {
          background: $btn-hover;
        }
      }

      span {
        @extend .font_body-1;
        text-align: center;
        color: $white;
        margin-bottom: unset;
        font-weight: 400;
      }
    }
  }

  &_frame2 {
    padding: 3.75rem 0;
    background: $black-900;

    &-wrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 1.5rem;
    }

    &-item {
      padding: 1.875rem 0.5rem;
      height: 10.875rem;

      &-img {
        display: flex;
        justify-content: center;
        width: 100%;

        img {
          width: 3rem;
          height: 3rem;
          object-fit: contain;
        }
      }

      &-content {
        margin-top: 0.125rem;

        h3 {
          @extend .font_subtitle-1;
          margin-bottom: unset;
          font-weight: 500;
          width: 100%;
          text-align: center;
          color: $white;
        }

        p {
          @extend .font_body-2;
          margin-top: 0.25rem;
          margin-bottom: unset;
          font-weight: 400;
          width: 100%;
          align-items: center;
          text-align: center;
          color: $white;
        }
      }
    }
  }

  &_frame3 {
    position: absolute;
    content: "";
    z-index: 10;
    top: 0;
    left: 0;
    width: 24.8125rem;
    padding: 3.75rem 0;

    &-heading {
      @extend .font_heading-4;
      margin-bottom: unset;
      font-weight: 600;
      width: 100%;
      align-items: center;
      color: $black-900;
    }

    &-des {
      @extend .font_body-1;
      margin-top: 1rem;
      margin-bottom: unset;
      font-weight: 400;
      align-items: center;
      color: $black-900;
    }

    &-btn {
      @extend .font_button;
      border: unset;
      margin-top: 1rem;
      padding: 1rem 1.5rem;
      gap: 0.5rem;
      width: 10.3125rem;
      height: 2.5625rem;
      background: $green-50;
      border-radius: 0.25rem;
      font-weight: 600;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white;
      cursor: pointer;

      &:hover {
        background: $btn-hover;
      }
    }
  }
}

/* Tablet: width >= 768px and width < 1024px */
@media only screen and (min-width: 48rem) and (max-width: 63.938rem) {
  .benefits {
    margin-top: 3.125rem;
  }
  .benefits .background-2 {
    width: calc(100% - 2.5rem);
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }
  .benefits_frame2 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    .benefits_frame2-item {
      height: 100%;
    }
  }
  .slider {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }

  .slick-prev {
    left: -4%;
  }
  .slick-next {
    right: -4%;
  }
}

/* Mobile: width < 768px */
@media only screen and (max-width: 47.938em) {
  #main {
    margin-top: 3.125rem;
    .background-1 {
      height: 100%;
    }

    .benefits {
      display: flex;
      flex-direction: column;
      gap: 0.625rem;
      position: unset !important;
      &_frame {
        padding: 0 1rem;

        &-footer {
          margin-bottom: 4rem;
          flex-wrap: wrap;
          gap: 0.5rem;
        }
      }

      &_frame2 {
        &-wrapper {
          padding: 0 1rem;
          grid-template-columns: repeat(2, 1fr);
        }
      }

      &_frame3 {
        padding: unset !important;
      }
    }

    .slider {
      &-bg {
      }

      &_list {
        row-gap: 1.25rem;
        grid-template-columns: repeat(3, 1fr);
      }
    }
    .background-2 {
      height: 17rem;
      background-image: unset;
    }
    .benefits_frame2-wrapper {
      row-gap: 1.5rem;
    }
    .benefits_frame3-btn {
      width: 100%;
      border-radius: 0.25rem;
    }
    .benefits_img {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  #main .benefits_frame3 {
    margin-left: 10px;
    margin-right: 10px;
    width: unset !important;
  }
  .slick-list {
    width: 100%;
    overflow-x: auto !important;
  }
}
