@import "./base/global";
@import "./base/reset";
@import "./base/variable";

#main {
  .tagLine-event {
    height: 4.8125rem;
    background: $brown-100;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    margin: 0 auto;

    h3 {
      font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 1.25rem;
      line-height: 2rem;
      margin-bottom: unset;
      color: $black-800;

      span {
        font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
        font-style: normal;
        height: 100%;
        font-weight: 600;
        font-size: 0.875rem;
        line-height: 1.25rem;
        letter-spacing: 0.0781rem;
        color: $brown-600;
        margin-bottom: unset;
        position: relative;
        margin-right: 0.75rem;
        cursor: pointer;

        &::after {
          position: absolute;
          bottom: -0.3125rem;
          left: 0;
          content: "";
          right: 0;
          width: 100%;
          height: 0.0625rem;
          background-color: $brown-600;
        }
      }
    }
  }

  .featured {
    &_wrapper {
      height: 100%;
      padding: 3.75rem 0;
      align-items: start;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 1.5rem;
    }

    background-color: white;
    margin-top: 1.5rem;
    margin-bottom: 2rem;

    .border_right:not(:last-child) {
    }

    &_item-content {
      align-items: flex-start;
      justify-content: flex-start;
      padding: 0 24px;
      text-align: left;
      transition: min-height 0s ease 0s;
      width: 60%;
      display: none;

      &-heading {
        @extend .font_heading-4;
        font-weight: 600;
        margin-top: 0.5rem;
        margin-bottom: unset;
        color: $black-900;
      }

      &-des {
        margin-top: 1.5rem;
        font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 0.75rem;
        line-height: 1rem;
        letter-spacing: 0.025rem;
        color: $black-900;
        margin-bottom: unset;
      }

      &-btn {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        display: flex;

        button {
          background-color: unset;
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 1rem 1.5rem;
          background-color: #876c43;
          border: 1px solid #876c43;
          border-radius: 2.5rem;
          cursor: pointer;

          color: white;
          font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial,
            sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 0.875rem;
          line-height: 1.25rem;
          letter-spacing: 0.0781rem;

          span {
            font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial,
              sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 0.875rem;
            line-height: 1.25rem;
            letter-spacing: 0.0781rem;
          }

          &:hover {
            background-color: unset;
            border: 1px solid #876c43;
            color: #876c43;
          }
        }
      }
    }

    .open_featured {
      display: block !important;
    }

    .open_inner {
      display: flex;
      flex-direction: column;
      height: 300px;
      justify-content: space-between;
      width: 130px;
      align-items: center;
    }

    &_item {
      cursor: pointer;
      height: 12.25rem;
      display: flex;
      align-items: center;
      justify-content: center;

      &-img {
        width: 100%;
        display: flex;
        justify-content: center;

        img {
          width: 3rem;
          height: 3rem;
        }
      }

      &-header {
        margin-top: 0.5rem;
        font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.25rem;
        text-align: center;
        letter-spacing: 0.0125em;
        margin-bottom: unset;
        color: $black-900;
      }

      &-des {
        margin-top: 0.25rem;
        font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 0.75rem;
        line-height: 1rem;
        text-align: center;
        letter-spacing: 0.025rem;
        color: $black-900;
        margin-bottom: unset;
      }

      &-btn {
        display: flex;
        justify-content: center;
        margin-top: 0.5rem;

        button {
          width: 2rem;
          height: 2rem;
          background: $brown-500;
          border-radius: 50%;
          border: none;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          // &:hover {
          //   background: $btn-hover;
          // }
        }
      }

      &:not(:last-child) {
        border-right: 0.0625rem solid rgba(0, 0, 0, 0.2);
      }
    }

    .icon_plus {
      display: block;
    }

    .icon_minus {
      display: none;
    }
  }

  #product {
    .slick-list {
      padding: unset !important;
      background-color: unset !important;
    }

    .slick-center {
      background-color: white;
    }

    .slick-track {
      width: 100% !important;
      display: flex !important;
    }

    .slick-dots {
      display: flex;
      justify-content: center;
      gap: 0.5rem;
      position: absolute;
      bottom: 10px;
      left: 0;
      right: 0;
      bottom: -35px;

      li {
        &::marker {
          content: "";
          display: none;
        }
      }
    }

    .slick-dots li button {
      font-size: 0;
      line-height: 0;
      padding: 0;
      background-color: transparent;
      border: none;
      outline: none;
    }

    .slick-dots li button {
      margin: 0 5px;
      content: "";
      border: unset;
      background: unset;
    }

    .slick-dots li button:before {
      content: "";
      transition: background-color 0.3s ease;
      border-radius: 50%;
      display: inline-block;
      cursor: pointer;
      opacity: 1;
      width: 8px;
      height: 8px;
      background: #c5c5c5;
    }

    .slick-dots li.slick-active button:before {
      background: #17171a;
    }

    .slick-dots li button:hover:before {
      background: #17171a;
    }

    width: 100%;
    background: $brown-50;
    padding-top: 3.375rem;
    padding-bottom: 3.5rem;

    .product_heading {
      text-transform: uppercase;
      padding-bottom: 2rem;
      font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 2.5rem;
      line-height: 2.5rem;
      text-align: center;
      letter-spacing: 0.0025em;
      color: $black-800;
    }

    .product {
      &_list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1.5rem;
        row-gap: 2rem;
      }

      &_item {
        background: $white;
        box-shadow: $card-shadow-4;
        border-radius: 0.25rem;
        position: relative;
      }

      &_item-heading {
        padding-bottom: 2.0625rem;
        padding-top: 2.0625rem;
        margin-bottom: unset;
        font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 2rem;
        text-align: center;
        color: $black-800;
      }

      &_item-img {
        display: flex;
        justify-content: center;
        width: 100%;
        padding-top: 1.3125rem;
        padding-bottom: 1.3125rem;
      }

      &_item-price {
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
        display: flex;
        align-items: center;
        gap: 0.75rem;
        justify-content: center;
        font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.5rem;
        text-align: center;
        letter-spacing: 0.005em;

        span {
          color: #316c04;
        }

        label {
          text-decoration-line: line-through;
          color: $black-300;
        }
      }

      &_item-btn {
        border: unset;
        margin-bottom: 3.5625rem;
        display: flex;
        justify-content: center;

        button {
          @extend .button_cart;

          &:hover {
            background: $btn-hover;
          }

          span {
            font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial,
              sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 0.875rem;
            line-height: 1.25rem;
            letter-spacing: 0.0781rem;
            color: $white;
          }
        }
      }

      &_item-ticket {
        position: absolute;
        top: 0;
        right: 0;
        content: "";
        padding: 0.25rem 0.5rem;
        background: $brown-500;
        font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 0.625rem;
        line-height: 1rem;
        text-align: center;
        justify-content: center;
        letter-spacing: 0.0938rem;
        color: $white;
      }
    }

    .product_seemore {
      margin-top: 3rem;
      display: flex;
      justify-content: center;

      span {
        display: block;
        text-align: center;
        font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
        font-style: normal;
        height: 100%;
        font-weight: 600;
        font-size: 0.875rem;
        line-height: 1.25rem;
        letter-spacing: 0.0781rem;
        width: 4.55rem;
        color: $brown-600;
        position: relative;
        cursor: pointer;

        &::after {
          position: absolute;
          bottom: -0.3125rem;
          left: 0;
          content: "";
          right: 0;
          height: 0.0625rem;
          background-color: $brown-600;
        }
      }
    }
  }

  #moreInfo {
    .moreInfo_list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 1.875rem;
      row-gap: 1.875rem;
    }

    .moreInfo_wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 1.875rem;
    }

    background: white;
    margin-top: 3.5rem;
    margin-bottom: 6.25rem;

    .moreInfo_item {
      background: $brown-100;
      height: 28.4375rem;
      box-shadow: $card-shadow-4;
      border-radius: 0.25rem;
      overflow: hidden;
      position: relative;
    }

    .moreInfo_item-wrapper {
      height: 15.8125rem;
      display: flex;
      flex-direction: column;
    }

    .moreInfo_item-heading {
      padding-top: 1.5rem;
      margin: 0 1.5rem;
      font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 1.25rem;
      line-height: 2rem;
      text-align: center;
      text-transform: uppercase;
      color: $black-800;
    }

    .moreInfo_item-title {
      margin: 0 1.5rem;
      flex: 1;
      margin-top: 0.75rem;
      font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 1.25rem;
      text-align: center;
      letter-spacing: 0.01em;
      color: $black-800;
    }

    .moreInfo_item-btn {
      margin-bottom: 1.5rem;
      display: flex;
      justify-content: center;

      button {
        background-color: unset;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 1rem 1.5rem;
        border: 0.0625rem solid $black-900;
        border-radius: 2.5rem;
        cursor: pointer;

        span {
          font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial,
            sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 0.875rem;
          line-height: 1.25rem;
          letter-spacing: 0.0781rem;
          color: $black-800;
        }

        &:hover {
          background-color: #c5c5c5;
        }
      }
    }

    .moreInfo_item-content {
      .moreInfo_item-img {
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          background-position: center;
          height: 12.625rem;
          object-position: center;
          object-fit: fill;
        }
      }
    }
  }
}

.custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("data:image/svg+xml,%3Csvg  width='8' height='7' viewBox='0 0 8 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.66671 0.5H0.333206C0.272497 0.500025 0.212947 0.516628 0.160983 0.548018C0.109019 0.579409 0.0666146 0.624394 0.0383452 0.67812C0.0100758 0.731845 -0.00298475 0.792271 0.000572986 0.852876C0.00413072 0.913481 0.0241717 0.971963 0.0585331 1.02201L3.72528 6.35547C3.75592 6.40002 3.79693 6.43645 3.84478 6.46162C3.89263 6.48679 3.94589 6.49994 3.99996 6.49994C4.05403 6.49994 4.10728 6.48679 4.15513 6.46162C4.20299 6.43645 4.244 6.40002 4.27463 6.35547L7.94138 1.02201C7.97574 0.971963 7.99579 0.913481 7.99934 0.852876C8.0029 0.792271 7.98984 0.731845 7.96157 0.67812C7.9333 0.624394 7.8909 0.579409 7.83893 0.548018C7.78697 0.516628 7.72742 0.500025 7.66671 0.5Z' fill='%2317171A'%3E%3C/path%3E%3C/svg%3E")
    no-repeat center right;
  padding-right: 20px; //* Adjust the padding to make room for the icon */
}

/* Tablet: width >= 768px and width < 1024px */
@media only screen and (min-width: 48rem) and (max-width: 63.938rem) {
  .product {
    &_list {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
      grid-template-columns: 1fr 1fr !important;
    }
  }

  .moreInfo_list {
    padding: 0 1rem;
    max-width: 45.5rem !important;
    grid-template-columns: 1fr !important;

    .moreInfo_item {
      display: flex;
      max-height: 22.8125rem;
    }

    .moreInfo_item-img {
      height: 100%;

      img {
        width: 318px;
        height: 22.8125rem;
        object-fit: cover;
      }
    }

    .moreInfo_item-wrapper {
      order: 1;
      height: 100% !important;
    }
  }
}

/* Mobile: width < 768px */
@media only screen and (max-width: 47.938em) {
  .product {
    &_list {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
      grid-template-columns: 1fr !important;
    }

    &_item-btn {
      button {
        width: 90%;
      }
    }
  }

  .moreInfo_list {
    padding: 0 1rem;
    max-width: 45.5rem !important;
    grid-template-columns: 1fr !important;

    .moreInfo_item {
      display: flex;
      flex-direction: column;
    }

    .moreInfo_item-img {
      height: 12.0625rem;
      order: 1;
      flex: 1;

      img {
        width: 100%;
        height: 12.0625rem;
      }
    }

    .moreInfo_item-heading {
      padding-top: 1rem !important;
    }

    .moreInfo_item-wrapper {
      order: 1;
      display: flex;
      flex-direction: column;
      height: 100% !important;
    }
  }

  .featured_wrapper {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 20px;
    padding-right: 20px;
    margin: unset;
  }

  .featured_item {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: unset !important;
    padding: 1rem 0;
    border-right: unset !important;
    border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.2);

    .featured_item-inner {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .featured_item-img {
      width: unset !important;
    }

    .featured_item-header {
      margin-top: unset !important;
    }

    .featured_item-btn {
      margin-top: unset !important;
    }

    .featured_item-content {
      padding: unset !important;
      width: 100% !important;
      order: 1;
    }

    .featured_item-content-btn {
      margin-bottom: unset !important;
    }
  }

  .tagLine-event {
    padding: 0 1rem;
    padding-top: 1rem;
    display: flex;
    gap: unset !important;
    height: unset !important;
    padding-bottom: 1rem;
    flex-direction: column;

    h3 {
      font-size: 10px !important;
    }

    span {
      font-size: 10px !important;
    }
  }

  .product_item {
    width: 350px !important;
  }

  #main #product .product_item-heading {
    width: 350px !important;
  }

  #main #product .slick-track {
    width: 100% !important;
    display: flex !important;
    justify-content: space-around;
  }

  .product_list {
    padding-left: calc((100% - 350px) / 2) !important;
    padding-right: calc((100% - 350px) / 2) !important;
  }
}
