@import "../base/global";
@import "../base/reset";
@import "../base/variable";

@import "../layouts/footer";
@import "../layouts/nav";
@import "../layouts/header";
@import "../layouts/orther";

#Page404 {
  .messages {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20.8125rem;

    &-text {
      font-style: normal;
      font-weight: 600;
      font-size: 3rem;
      line-height: 3.25rem;
      color: $black-900;
      text-align: center;
      color: #1b1b1b;
    }

    &-image {
      width: 100%;
      font-size: 0;
      padding: 1.3125rem 0;
    }

    &-price {
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.5rem;
      text-align: center;
      letter-spacing: 0.005em;
    }

    &-btn {
      @extend .font_button;
      font-weight: 600;
      padding: 0.75rem 1.5rem;
      color: $white;
      background: $green-50;
      border-radius: 2.5rem;
      border: none;
      text-transform: uppercase;
      height: 2.0625rem;
      display: flex;
      justify-content: center;
      align-items: center;

      cursor: pointer;
      &:hover {
        background: $btn-hover;
      }
    }
  }

  @media screen and (min-width: 48rem) {
    .caption {
      flex-direction: row;
      align-items: center;
      display: flex;
      margin: 0 auto;
      padding: 11.25rem 0;
      gap: 6rem;
    }
  }
}
