body {
  line-height: 1;
  font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
  font-style: normal;
  font-size: 16px;
  scroll-behavior: smooth;
  overflow-x: hidden; }

html {
  scroll-behavior: smooth; }

.wrapper {
  width: 100%; }
  .wrapper-inner {
    max-width: 90rem;
    margin: 0 auto; }
  .wrapper-sm {
    max-width: 56.25rem;
    margin: 0 auto;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    width: 100%;
    padding: 2.5rem 0; }

.container {
  max-width: 68.75rem !important;
  margin: 0 auto; }

/* font  Nes */
.font_heading-1 {
  font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
  font-style: normal;
  font-size: 6rem;
  line-height: 6.5rem;
  letter-spacing: -0.015em; }

.font_heading-2 {
  font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
  font-style: normal;
  font-size: 3.75rem;
  line-height: 4.25rem;
  letter-spacing: -0.005em; }

.font_heading-3, #contact_us .contact_frame-content h3 {
  font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
  font-style: normal;
  font-size: 3rem;
  line-height: 3.25rem; }

.font_heading-4, #contact_us .form_header {
  font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
  font-style: normal;
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.0025em; }

.font_heading-5, #contact_us .tagLine-event h3, #contact_us .form_label {
  font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 2rem; }

.font_heading-6, .slideShow h2 {
  font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
  font-style: normal;
  font-size: 1.125rem;
  line-height: 1.5rem;
  letter-spacing: 0.0015em; }

.font_subtitle-1, #contact_us .form_content span, #contact_us .form_content-field label {
  font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: 0.0125em; }

.font_subtitle-2 {
  font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.01em; }

.font_body-1 {
  font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.005em; }

.font_body-2, #contact_us .form_title, #contact_us .form_footer, #contact_us .form_content-check span {
  font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.0025em; }

.font_caption {
  font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
  font-style: normal;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.025rem; }

.font_overline {
  font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
  font-style: normal;
  font-size: 0.625rem;
  line-height: 1rem;
  letter-spacing: 0.0938rem; }

.font_button, #contact_us .tagLine-event h3 span, #contact_us .form_btn button {
  font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.0781rem; }

.button_cart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.5rem;
  gap: 0.5rem;
  background: #3d8705;
  border-radius: 2.5rem;
  border: none;
  cursor: pointer;
  color: #ffffff;
  text-transform: uppercase; }

@media screen {
  @font-face {
    font-family: "Nespresso Lucas";
    src: url("https://www.nespresso.com/emailing/NespressoVisuals/common/fonts/Regular/NespressoLucas-Regular.woff2") format("woff2");
    src: url("https://www.nespresso.com/emailing/NespressoVisuals/common/fonts/Regular/NespressoLucas-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal; }
  @font-face {
    font-family: "Nespresso Lucas Light";
    src: url("https://www.nespresso.com/emailing/NespressoVisuals/common/fonts/Light/NespressoLucas-Light.woff2") format("woff2");
    src: url("https://www.nespresso.com/emailing/NespressoVisuals/common/fonts/Light/NespressoLucas-Light.woff") format("woff");
    font-weight: normal;
    font-style: normal; }
  @font-face {
    font-family: "Nespresso Lucas XtraBd";
    src: url("https://www.nespresso.com/emailing/NespressoVisuals/common/fonts/XtraBd/NespressoLucas-XtraBd.woff2") format("woff2");
    src: url("https://www.nespresso.com/emailing/NespressoVisuals/common/fonts/XtraBd/NespressoLucas-XtraBd.woff") format("woff");
    font-weight: bold; } }
/* font  Nes */
/* destop: width >= 1024px */
@media only screen and (min-width: 64rem) {
  .hide_on-pc {
    display: none !important; }

  .show_on-pc {
    display: block !important; } }
/* Tablet: width >= 768px and width < 1024px */
@media only screen and (min-width: 48rem) and (max-width: 64rem) {
  .hide_on-tab {
    display: none !important; }

  .show_on-tab {
    display: block !important; } }
/* Mobile: width < 768px */
@media only screen and (max-width: 48rem) {
  .hide_on-mobile {
    display: none !important; }

  .show_on-mobile {
    display: block !important; }

  /* font  Nes */
  .font_heading-1 {
    font-size: 3rem;
    line-height: 6.5rem;
    letter-spacing: -0.015em; }

  .font_heading-2 {
    font-size: 2.5rem;
    line-height: 4.25rem;
    letter-spacing: -0.005em; }

  .font_heading-3, #contact_us .contact_frame-content h3 {
    font-size: 2.25rem;
    line-height: 3.25rem; }

  .font_heading-4, #contact_us .form_header {
    font-size: 1.75rem;
    line-height: 2.5rem;
    letter-spacing: 0.0025em; }

  .font_heading-5, #contact_us .tagLine-event h3, #contact_us .form_label {
    font-size: 1.25rem;
    line-height: 2rem; }

  .font_heading-6, .slideShow h2 {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.0015em; }

  .font_subtitle-1, #contact_us .form_content span, #contact_us .form_content-field label {
    font-size: 1rem;
    line-height: 1.25rem;
    letter-spacing: 0.0125em; }

  .font_subtitle-2 {
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.01em; }

  .font_body-1 {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.005em; }

  .font_body-2, #contact_us .form_title, #contact_us .form_footer, #contact_us .form_content-check span {
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.0025em; }

  .font_caption {
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 0.025rem; }

  .font_overline {
    font-size: 0.625rem;
    line-height: 1rem;
    letter-spacing: 0.0938rem; }

  .font_button, #contact_us .tagLine-event h3 span, #contact_us .form_btn button {
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.0781rem; } }
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

.white-text {
  color: #ffffff !important; }

/* Shadow Elevation/04 */
/* Shadow Elevation/12 */
/* Shadow Elevation/06 */
/* Shadow Elevation/03 */
@keyframes modalEaseOut {
  from {
    transform: translateY(-6.25rem);
    opacity: 0; }
  to {
    transform: translateY(0rem);
    opacity: 1; } }
@keyframes modalTrans {
  from {
    transform: translateY(100%); }
  to {
    transform: translate(0); } }
#contact_us .tagLine-event {
  width: 100%;
  height: 4.8125rem;
  background: #8f7247;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem; }
  #contact_us .tagLine-event h3 {
    font-weight: 700;
    margin-bottom: unset; }
    #contact_us .tagLine-event h3 span {
      margin-left: 0.3125rem;
      height: 100%;
      font-weight: 600;
      color: white;
      margin-bottom: unset;
      position: relative;
      margin-right: 0.75rem; }
      #contact_us .tagLine-event h3 span::after {
        position: absolute;
        bottom: -0.3125rem;
        left: 0;
        content: "";
        right: 0;
        width: 100%;
        height: 0.0625rem;
        background-color: currentColor; }
#contact_us .contact_frame {
  width: 100%; }
  #contact_us .contact_frame .background-1 {
    background-image: url("../../assets/images/sustainability&recycling/commitment_1.png");
    background-repeat: no-repeat;
    background-position: center;
    object-position: center;
    width: 100%;
    height: 21.875rem;
    position: relative;
    background-size: cover; }
  #contact_us .contact_frame-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; }
    #contact_us .contact_frame-content h3 {
      margin-bottom: unset;
      font-weight: 600;
      text-align: center;
      color: #ffffff; }
#contact_us .form_wrapper {
  padding: 2.5rem 0;
  gap: 2.5rem;
  width: 100%;
  background: #ffffff; }
#contact_us .form_header {
  margin-bottom: unset;
  font-weight: 600;
  text-align: center;
  color: #000000; }
#contact_us .form_title {
  margin-top: 1rem;
  margin-bottom: unset;
  font-weight: 400;
  text-align: center;
  color: #000000; }
#contact_us .form_label {
  display: flex;
  align-items: center;
  padding: 2rem 1rem;
  height: 6rem;
  background: #d5d5d5;
  font-weight: 700;
  color: #000000;
  margin-bottom: unset; }
  #contact_us .form_label:nth-child(1) {
    margin-top: 2.5rem; }
#contact_us .form_footer {
  margin-top: 2.5rem;
  margin-bottom: unset;
  font-weight: 400;
  align-items: center;
  color: #000000; }
#contact_us .form_btn {
  margin-top: 2.5rem;
  width: 100%;
  display: flex;
  justify-content: end; }
  #contact_us .form_btn button {
    border: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.5rem;
    width: 10.3125rem;
    background: #3d8705;
    border-radius: 0.25rem;
    font-weight: 600;
    text-align: center;
    color: #ffffff; }
    #contact_us .form_btn button:hover {
      transition: 0.3s;
      cursor: pointer;
      background-color: #3d8705; }
#contact_us .form_content {
  width: 100%;
  padding: 1rem;
  background: #ffffff; }
  #contact_us .form_content span {
    margin-top: 1rem;
    margin-bottom: unset;
    font-weight: 500;
    color: #000000; }
  #contact_us .form_content-check {
    display: flex;
    align-items: center;
    margin-top: 1.5rem; }
    #contact_us .form_content-check input {
      margin-right: 0.75rem;
      width: 1.25rem;
      height: 1.25rem;
      background: #d9d9d9;
      border: 0.0625rem solid #000000;
      border-radius: 0.25rem; }
    #contact_us .form_content-check span {
      margin-bottom: unset;
      margin-top: unset;
      font-weight: 400;
      color: #000000; }
  #contact_us .form_content-field {
    margin-top: 1.5rem;
    width: 100%;
    display: flex;
    align-items: center; }
    #contact_us .form_content-field label {
      width: 12.5rem;
      margin-bottom: unset;
      font-weight: 500;
      color: #000000; }
    #contact_us .form_content-field input {
      width: 100%;
      padding: 0.625rem 0.75rem;
      height: 2.75rem;
      background: #ffffff;
      border: 0.0625rem solid #d5d5d5;
      border-radius: 0.25rem; }
    #contact_us .form_content-field textarea {
      width: 100%;
      padding: 0.75rem;
      gap: 0.625rem;
      height: 11.25rem;
      left: 14.625rem;
      background: #ffffff;
      border: 0.0625rem solid #d5d5d5;
      border-radius: 0.25rem; }
    #contact_us .form_content-field + .form_content-field {
      margin-top: 1.25rem; }
  #contact_us .form_content-line {
    margin-top: 1rem;
    border: 0.0625rem solid #000000; }

.slideShow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem auto;
  width: 100%;
  height: 3.5rem;
  background: #ffffff; }
  .slideShow h2 {
    font-weight: 400;
    text-align: center;
    color: #000000; }

/* Tablet: width >= 768px and width < 1024px */
@media only screen and (min-width: 48rem) and (max-width: 63.938rem) {
  .slideShow {
    margin-top: 3.125rem; }

  #contact_us .form_wrapper {
    padding-left: 1.25rem;
    padding-right: 1.25rem; }
  #contact_us .form_content-field {
    display: grid;
    grid-template-columns: 2fr 8fr; }
  #contact_us .form_btn {
    padding: 0rem 1rem; } }
/* Mobile: width < 768px */
@media only screen and (max-width: 47.938em) {
  .slideShow {
    margin-top: 3.125rem;
    height: 100% !important; }

  #contact_us .tagLine-event {
    text-align: center;
    padding: 0 1rem;
    padding-top: 1rem;
    display: flex;
    gap: unset !important;
    height: unset !important;
    padding-bottom: 1rem;
    flex-direction: column; }
    #contact_us .tagLine-event h3 {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center; }
  #contact_us .form_wrapper {
    padding-left: 0.625rem;
    padding-right: 0.625rem; }
  #contact_us .form_content {
    padding-left: unset !important;
    padding-right: unset !important; }
  #contact_us .form_content-field {
    display: flex !important;
    flex-direction: column !important;
    gap: 0.3125rem !important; }
    #contact_us .form_content-field label {
      width: 100%; }
  #contact_us .form_btn {
    padding: unset !important;
    width: 100%; }
    #contact_us .form_btn button {
      width: 100%;
      border-radius: 0.3125rem !important; } }
