body {
  line-height: 1;
  font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
  font-style: normal;
  font-size: 16px;
  scroll-behavior: smooth;
  overflow-x: hidden; }

html {
  scroll-behavior: smooth; }

.wrapper {
  width: 100%; }
  .wrapper-inner {
    max-width: 90rem;
    margin: 0 auto; }
  .wrapper-sm {
    max-width: 56.25rem;
    margin: 0 auto;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    width: 100%;
    padding: 2.5rem 0; }

.container, #machines-detail .product-context {
  max-width: 68.75rem !important;
  margin: 0 auto; }

/* font  Nes */
.font_heading-1 {
  font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
  font-style: normal;
  font-size: 6rem;
  line-height: 6.5rem;
  letter-spacing: -0.015em; }

.font_heading-2 {
  font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
  font-style: normal;
  font-size: 3.75rem;
  line-height: 4.25rem;
  letter-spacing: -0.005em; }

.font_heading-3 {
  font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
  font-style: normal;
  font-size: 3rem;
  line-height: 3.25rem; }

.font_heading-4, #machines-detail .product-card__name, #machines-detail .product-heading__title, #machines-detail .machines-tilte, #machines-detail .extraction-method-title, #machines-detail .storytelling-title, #machines-detail .storytelling-content__heading, #machines-detail .card-slider-heading {
  font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
  font-style: normal;
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.0025em; }

.font_heading-5, #machines-detail .product-banner__text-heading, #machines-detail .product-heading__desc {
  font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 2rem; }

.font_heading-6, #machines-detail .storytelling-caption h6 {
  font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
  font-style: normal;
  font-size: 1.125rem;
  line-height: 1.5rem;
  letter-spacing: 0.0015em; }

.font_subtitle-1, #machines-detail .product-card__price, #machines-detail .machines-specifications-item__title {
  font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: 0.0125em; }

.font_subtitle-2, #machines-detail .product-banner__text-description, #machines-detail .product-banner__text-more a, #machines-detail .storytelling-item span, #machines-detail .storytelling-link span, #machines-detail .storytelling-caption p {
  font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.01em; }

.font_body-1, #machines-detail .product-heading__features, #machines-detail .product-price-detail span, #machines-detail .machines-specifications-item__desc, #machines-detail .machines-banner-video span, #machines-detail .extraction-method-item span, #machines-detail .storytelling-paragraph, #machines-detail .storytelling-video__player span, #machines-detail .storytelling-content__text, #machines-detail .card-slider-paragraph, #machines-detail .card-slider-price, #machines-detail .faq-left__list-question span, #machines-detail .faq-left__list-answer {
  font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.005em; }

.font_body-2, #machines-detail .product-card__desc, #machines-detail .product-card__desc pre, #machines-detail .product-card__type-text, #machines-detail .product-item__desc {
  font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.0025em; }

.font_caption, #machines-detail .product-card__delivery p, #machines-detail .product-card__service-text, #machines-detail .product-card__special-gift {
  font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
  font-style: normal;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.025rem; }

.font_overline {
  font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
  font-style: normal;
  font-size: 0.625rem;
  line-height: 1rem;
  letter-spacing: 0.0938rem; }

.font_button, #machines-detail .product-btn__add span, #machines-detail .product-btn__view span, #machines-detail .card-slider-button span, #machines-detail .faq-left__button a {
  font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.0781rem; }

.button_cart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.5rem;
  gap: 0.5rem;
  background: #3d8705;
  border-radius: 2.5rem;
  border: none;
  cursor: pointer;
  color: #ffffff;
  text-transform: uppercase; }

@media screen {
  @font-face {
    font-family: "Nespresso Lucas";
    src: url("https://www.nespresso.com/emailing/NespressoVisuals/common/fonts/Regular/NespressoLucas-Regular.woff2") format("woff2");
    src: url("https://www.nespresso.com/emailing/NespressoVisuals/common/fonts/Regular/NespressoLucas-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal; }
  @font-face {
    font-family: "Nespresso Lucas Light";
    src: url("https://www.nespresso.com/emailing/NespressoVisuals/common/fonts/Light/NespressoLucas-Light.woff2") format("woff2");
    src: url("https://www.nespresso.com/emailing/NespressoVisuals/common/fonts/Light/NespressoLucas-Light.woff") format("woff");
    font-weight: normal;
    font-style: normal; }
  @font-face {
    font-family: "Nespresso Lucas XtraBd";
    src: url("https://www.nespresso.com/emailing/NespressoVisuals/common/fonts/XtraBd/NespressoLucas-XtraBd.woff2") format("woff2");
    src: url("https://www.nespresso.com/emailing/NespressoVisuals/common/fonts/XtraBd/NespressoLucas-XtraBd.woff") format("woff");
    font-weight: bold; } }
/* font  Nes */
/* destop: width >= 1024px */
@media only screen and (min-width: 64rem) {
  .hide_on-pc {
    display: none !important; }

  .show_on-pc {
    display: block !important; } }
/* Tablet: width >= 768px and width < 1024px */
@media only screen and (min-width: 48rem) and (max-width: 64rem) {
  .hide_on-tab {
    display: none !important; }

  .show_on-tab {
    display: block !important; } }
/* Mobile: width < 768px */
@media only screen and (max-width: 48rem) {
  .hide_on-mobile {
    display: none !important; }

  .show_on-mobile {
    display: block !important; }

  /* font  Nes */
  .font_heading-1 {
    font-size: 3rem;
    line-height: 6.5rem;
    letter-spacing: -0.015em; }

  .font_heading-2 {
    font-size: 2.5rem;
    line-height: 4.25rem;
    letter-spacing: -0.005em; }

  .font_heading-3 {
    font-size: 2.25rem;
    line-height: 3.25rem; }

  .font_heading-4, #machines-detail .product-card__name, #machines-detail .product-heading__title, #machines-detail .machines-tilte, #machines-detail .extraction-method-title, #machines-detail .storytelling-title, #machines-detail .storytelling-content__heading, #machines-detail .card-slider-heading {
    font-size: 1.75rem;
    line-height: 2.5rem;
    letter-spacing: 0.0025em; }

  .font_heading-5, #machines-detail .product-banner__text-heading, #machines-detail .product-heading__desc {
    font-size: 1.25rem;
    line-height: 2rem; }

  .font_heading-6, #machines-detail .storytelling-caption h6 {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.0015em; }

  .font_subtitle-1, #machines-detail .product-card__price, #machines-detail .machines-specifications-item__title {
    font-size: 1rem;
    line-height: 1.25rem;
    letter-spacing: 0.0125em; }

  .font_subtitle-2, #machines-detail .product-banner__text-description, #machines-detail .product-banner__text-more a, #machines-detail .storytelling-item span, #machines-detail .storytelling-link span, #machines-detail .storytelling-caption p {
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.01em; }

  .font_body-1, #machines-detail .product-heading__features, #machines-detail .product-price-detail span, #machines-detail .machines-specifications-item__desc, #machines-detail .machines-banner-video span, #machines-detail .extraction-method-item span, #machines-detail .storytelling-paragraph, #machines-detail .storytelling-video__player span, #machines-detail .storytelling-content__text, #machines-detail .card-slider-paragraph, #machines-detail .card-slider-price, #machines-detail .faq-left__list-question span, #machines-detail .faq-left__list-answer {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.005em; }

  .font_body-2, #machines-detail .product-card__desc, #machines-detail .product-card__desc pre, #machines-detail .product-card__type-text, #machines-detail .product-item__desc {
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.0025em; }

  .font_caption, #machines-detail .product-card__delivery p, #machines-detail .product-card__service-text, #machines-detail .product-card__special-gift {
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 0.025rem; }

  .font_overline {
    font-size: 0.625rem;
    line-height: 1rem;
    letter-spacing: 0.0938rem; }

  .font_button, #machines-detail .product-btn__add span, #machines-detail .product-btn__view span, #machines-detail .card-slider-button span, #machines-detail .faq-left__button a {
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.0781rem; } }
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

.white-text {
  color: #ffffff !important; }

/* Shadow Elevation/04 */
/* Shadow Elevation/12 */
/* Shadow Elevation/06 */
/* Shadow Elevation/03 */
@keyframes modalEaseOut {
  from {
    transform: translateY(-6.25rem);
    opacity: 0; }
  to {
    transform: translateY(0rem);
    opacity: 1; } }
@keyframes modalTrans {
  from {
    transform: translateY(100%); }
  to {
    transform: translate(0); } }
#machines-detail {
  background-color: #ffffff; }
  #machines-detail .product-main {
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
    align-items: flex-start;
    padding: 3.75rem 0;
    background-color: #ffffff; }
  #machines-detail .product-media__image {
    font-size: 0; }
    #machines-detail .product-media__image img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  #machines-detail .product-media__detail {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0rem;
    gap: 0.75rem;
    cursor: pointer;
    margin-bottom: 0.125rem; }
    #machines-detail .product-media__detail-video {
      font-size: 0; }
    #machines-detail .product-media__detail-link.active {
      border-bottom: 0.125rem solid #1b1b1b; }
  #machines-detail .product-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    filter: drop-shadow(0rem 0.75rem 1.0625rem rgba(0, 0, 0, 0.14)); }
  #machines-detail .product-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 2rem 1.25rem;
    gap: 1rem;
    background-color: #ffffff;
    width: 100%; }
    #machines-detail .product-card__name {
      font-weight: 700;
      color: #1b1b1b;
      margin-bottom: unset;
      width: 100%; }
    #machines-detail .product-card__desc {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.25rem;
      font-weight: 400;
      color: #1b1b1b;
      width: 100%; }
      #machines-detail .product-card__desc p {
        margin-bottom: unset; }
      #machines-detail .product-card__desc pre {
        margin-bottom: unset;
        font-weight: 400;
        color: #1b1b1b; }
    #machines-detail .product-card__delivery {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%; }
      #machines-detail .product-card__delivery p {
        color: #3d8705;
        font-weight: 400; }
    #machines-detail .product-card__service {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.25rem;
      width: 100%; }
      #machines-detail .product-card__service-text {
        margin-bottom: unset;
        color: #3d8705;
        font-weight: 400; }
    #machines-detail .product-card__special-gift {
      font-weight: 500;
      color: #1b1b1b;
      margin-bottom: unset;
      width: 100%; }
    #machines-detail .product-card__type {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0rem;
      gap: 0.75rem;
      width: 100%; }
      #machines-detail .product-card__type-text {
        font-weight: 400;
        color: #454547;
        margin-bottom: unset; }
    #machines-detail .product-card__colors {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 0rem;
      gap: 0.5rem; }
      #machines-detail .product-card__colors-link {
        width: 0.75rem;
        height: 0.75rem;
        cursor: pointer;
        position: relative;
        display: block;
        border-radius: 100%;
        border: 1px solid rgba(0, 0, 0, 0.2); }
    #machines-detail .product-card__price {
      width: 100%;
      font-weight: 600;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #3d8705;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
  #machines-detail .product-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.25rem 2rem 2rem;
    gap: 1rem;
    background: #ffffff;
    width: 100%; }
    #machines-detail .product-btn__add {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0.75rem 1.5rem;
      gap: 0.5rem;
      background: #3d8705;
      border: none;
      border-radius: 2.5rem;
      text-transform: uppercase;
      cursor: pointer;
      width: 100%; }
      #machines-detail .product-btn__add:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #3d8705;
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3); }
      #machines-detail .product-btn__add span {
        color: #ffffff;
        text-align: center;
        font-weight: 600; }
    #machines-detail .product-btn__view {
      border: 0.0625rem solid #1b1b1b;
      border-radius: 2.5rem;
      width: 100%;
      padding: 0.375rem 0;
      text-transform: uppercase;
      cursor: pointer; }
      #machines-detail .product-btn__view span {
        color: #1b1b1b;
        font-weight: 600;
        text-align: center; }
      #machines-detail .product-btn__view:hover {
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3); }
  #machines-detail .product-banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem 3.75rem 3rem;
    gap: 1.25rem;
    background: #f3eee6;
    margin: 2rem 0;
    position: relative; }
    #machines-detail .product-banner__text-heading {
      font-weight: 300;
      text-transform: uppercase;
      color: #1b1b1b; }
      #machines-detail .product-banner__text-heading strong {
        color: #000000;
        font-weight: 700; }
    #machines-detail .product-banner__text-description {
      font-weight: 400;
      color: #454547; }
      #machines-detail .product-banner__text-description span {
        color: #876c43; }
    #machines-detail .product-banner__text-more {
      text-align: center; }
      #machines-detail .product-banner__text-more a {
        font-weight: 400;
        color: #17171a;
        text-transform: uppercase;
        text-decoration: none; }
  #machines-detail .product-description {
    background: #000000; }
  #machines-detail .product-context {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2.5rem 0; }
  #machines-detail .product-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem;
    gap: 1rem;
    color: #ffffff;
    text-align: center; }
    #machines-detail .product-heading__title {
      font-weight: 500; }
    #machines-detail .product-heading__desc {
      font-weight: 500; }
    #machines-detail .product-heading__features {
      font-weight: 400; }
  #machines-detail .product-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0rem;
    gap: 1.5rem; }
  #machines-detail .product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1; }
    #machines-detail .product-item__desc {
      color: #ffffff;
      font-weight: 500; }
  #machines-detail .product-price-detail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0rem;
    gap: 1.5rem; }
    #machines-detail .product-price-detail span {
      color: #876c43;
      font-weight: 500; }
  #machines-detail .machines-info {
    background: #f3eee6;
    background-image: url(/public/assets/images/machines-detail/machines-specifications.png);
    background-position: 100%;
    background-repeat: no-repeat; }
  #machines-detail .machines-container {
    position: relative;
    padding: 2rem 10.625rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem; }
  #machines-detail .machines-tilte {
    font-weight: 500;
    color: #1b1b1b;
    max-width: 21.5rem; }
  #machines-detail .machines-specifications {
    display: flex;
    list-style: none;
    flex-direction: row;
    align-items: flex-start;
    padding: 0rem;
    gap: 1.5rem; }
    #machines-detail .machines-specifications-item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 1rem 0rem;
      gap: 0.25rem;
      border-bottom: 0.0625rem solid #d5d5d5;
      height: 6.5rem;
      width: 18.625rem; }
      #machines-detail .machines-specifications-item__title {
        font-weight: 600;
        color: #1b1b1b;
        text-transform: uppercase; }
      #machines-detail .machines-specifications-item__desc {
        font-weight: 500;
        color: #454547;
        height: 3rem; }
  #machines-detail .machines-banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem 10.625rem;
    background-color: #f3eee6; }
    #machines-detail .machines-banner-image {
      width: 21.875rem;
      height: 30.0625rem;
      margin: 0rem -10.125rem 0 0.3125rem; }
      #machines-detail .machines-banner-image img {
        width: 100%;
        height: 100%; }
    #machines-detail .machines-banner-video {
      width: 33.625rem;
      height: 22.375rem;
      position: relative; }
      #machines-detail .machines-banner-video img {
        width: 100%;
        height: 100%; }
      #machines-detail .machines-banner-video span {
        font-weight: 600;
        color: #ffffff;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0rem;
        gap: 1.5rem;
        position: absolute;
        left: calc(50% - 11rem / 2);
        top: calc(50% - 1.5rem / 2);
        cursor: pointer; }
        #machines-detail .machines-banner-video span svg {
          fill: #000000; }
  #machines-detail .banner {
    background-color: #f3eee6; }
  #machines-detail .extraction-method {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 10.625rem;
    gap: 3rem; }
    #machines-detail .extraction-method-title {
      font-weight: 500;
      color: #1b1b1b;
      text-transform: uppercase; }
    #machines-detail .extraction-method-list {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0rem;
      gap: 1.5rem; }
    #machines-detail .extraction-method-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0rem;
      gap: 1.5rem; }
      #machines-detail .extraction-method-item span {
        font-weight: 600;
        color: #000000; }
  #machines-detail .storytelling .container, #machines-detail .storytelling .product-context {
    display: flex;
    padding: 2rem 5.875rem;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem; }
  #machines-detail .storytelling-title {
    font-weight: 600;
    color: #000000;
    text-align: center; }
  #machines-detail .storytelling-menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0rem;
    gap: 2.5rem;
    list-style: none; }
  #machines-detail .storytelling-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0.5rem 0rem;
    gap: 0.625rem;
    position: relative;
    cursor: pointer; }
    #machines-detail .storytelling-item span {
      font-weight: 400;
      color: #454547;
      text-align: center;
      text-transform: uppercase; }
    #machines-detail .storytelling-item:hover span {
      font-weight: 600;
      color: #17171a;
      text-transform: uppercase; }
    #machines-detail .storytelling-item:hover::after {
      background: #000000;
      bottom: 0;
      content: "";
      display: block;
      height: 0.125rem;
      position: absolute;
      width: 100%;
      transition: width 0.3s ease 0s, left 0.3s ease 0s; }
    #machines-detail .storytelling-item::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      width: 0;
      left: 0;
      height: 0; }
  #machines-detail .storytelling-item.is-active span {
    font-weight: 600;
    color: #17171a;
    text-transform: uppercase; }
  #machines-detail .storytelling-item.is-active ::after {
    background: #000000;
    bottom: 0;
    content: "";
    display: block;
    height: 0.125rem;
    position: absolute;
    width: 100%;
    transition: width 0.3s ease 0s, left 0.3s ease 0s; }
  #machines-detail .storytelling-link {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0.5rem 0rem;
    gap: 0.625rem;
    position: relative;
    cursor: pointer; }
    #machines-detail .storytelling-link span {
      font-weight: 400;
      color: #454547;
      text-align: center;
      text-transform: uppercase; }
    #machines-detail .storytelling-link:hover span {
      font-weight: 600;
      color: #17171a;
      text-transform: uppercase; }
    #machines-detail .storytelling-link:hover::after {
      background: #000000;
      bottom: 0;
      content: "";
      display: block;
      height: 0.125rem;
      position: absolute;
      width: 100%;
      transition: width 0.3s ease 0s, left 0.3s ease 0s; }
    #machines-detail .storytelling-link::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      width: 0;
      left: 0;
      height: 0; }
  #machines-detail .storytelling-link.is-active span {
    font-weight: 600;
    color: #17171a;
    text-transform: uppercase; }
  #machines-detail .storytelling-link.is-active ::after {
    background: #000000;
    bottom: 0;
    content: "";
    display: block;
    height: 0.125rem;
    position: absolute;
    width: 100%;
    transition: width 0.3s ease 0s, left 0.3s ease 0s; }
  #machines-detail .storytelling-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0rem;
    gap: 1.5rem; }
  #machines-detail .storytelling-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0rem;
    gap: 2rem;
    width: 100%; }
  #machines-detail .storytelling-caption {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0rem;
    gap: 0.5rem;
    color: #1b1b1b;
    width: 100%; }
    #machines-detail .storytelling-caption p {
      font-weight: 600; }
    #machines-detail .storytelling-caption h6 {
      font-weight: 700; }
  #machines-detail .storytelling-paragraph {
    font-weight: 400; }
  #machines-detail .storytelling-video {
    position: relative;
    width: 100%; }
    #machines-detail .storytelling-video__background {
      font-size: 0; }
      #machines-detail .storytelling-video__background img {
        height: 100%;
        object-fit: cover; }
    #machines-detail .storytelling-video__player {
      position: absolute;
      left: calc(50% - 11rem / 2 + 0.0313rem);
      top: calc(50% - 1.5rem / 2);
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0rem;
      gap: 1.5rem;
      cursor: pointer; }
      #machines-detail .storytelling-video__player span {
        color: #ffffff;
        text-align: center;
        font-weight: 600; }
      #machines-detail .storytelling-video__player svg {
        fill: white; }
  #machines-detail .storytelling-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0rem;
    gap: 0.75rem; }
    #machines-detail .storytelling-content__heading {
      font-weight: 600;
      color: #1b1b1b; }
    #machines-detail .storytelling-content__icon {
      font-size: 0;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 0.75rem; }
    #machines-detail .storytelling-content__text {
      font-weight: 400;
      color: #1b1b1b; }
  #machines-detail .card-slider .container, #machines-detail .card-slider .product-context {
    padding: 5rem 5.875rem; }
  #machines-detail .card-slider-wrapper {
    display: flex;
    padding: 1.5rem;
    flex-direction: row;
    align-items: flex-start;
    background-color: #ffffff;
    box-shadow: 0rem 0.75rem 1.0625rem rgba(0, 0, 0, 0.14);
    position: relative; }
  #machines-detail .card-slider-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem;
    gap: 1.5rem;
    max-width: 27.6875rem; }
  #machines-detail .card-slider-heading {
    color: #1b1b1b;
    font-weight: 600; }
  #machines-detail .card-slider-paragraph {
    color: #1b1b1b;
    font-weight: 400; }
  #machines-detail .card-slider-price {
    background: linear-gradient(0deg, #3d8705, #3d8705), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    font-weight: 600;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  #machines-detail .card-slider-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.5rem;
    gap: 0.5rem;
    background: #3d8705;
    border-radius: 2.5rem;
    border: none;
    cursor: pointer; }
    #machines-detail .card-slider-button:hover {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #3d8705; }
    #machines-detail .card-slider-button span {
      font-weight: 600;
      color: #ffffff;
      text-transform: uppercase; }
  #machines-detail .card-slider-image {
    flex: 40%;
    width: 100%; }
    #machines-detail .card-slider-image img {
      transform: translateY(-14%);
      width: 100%;
      margin-bottom: -14%; }
  #machines-detail .faq {
    background-image: url(/public/assets/images/machines-detail/machines-1.png);
    background-repeat: no-repeat;
    background-position: 100% 0; }
    #machines-detail .faq-left {
      max-width: 33.625rem;
      padding: 2rem 0; }
      #machines-detail .faq-left__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start; }
        #machines-detail .faq-left__list-question {
          display: flex;
          padding: 0.75rem 0rem;
          gap: 0.75rem;
          align-items: center;
          list-style: none;
          cursor: pointer; }
          #machines-detail .faq-left__list-question span {
            font-weight: 600;
            color: #1b1b1b; }
        #machines-detail .faq-left__list-answer {
          font-weight: 400;
          color: #1b1b1b; }
      #machines-detail .faq-left details[open] summary svg {
        transform: rotate(180deg); }
      #machines-detail .faq-left__button {
        border-radius: 2.5rem;
        padding: 0.5rem; }
        #machines-detail .faq-left__button a {
          font-weight: 600;
          color: #8f7247;
          text-align: center;
          text-decoration: none; }

/* Mobile: width < 768px */
@media only screen and (max-width: 47.938em) {
  #machines-detail .container .product-main, #machines-detail .product-context .product-main {
    padding: 3.125rem 0;
    flex-direction: column; }
  #machines-detail .container .product-wrapper, #machines-detail .product-context .product-wrapper {
    padding: 1.875rem 1.25rem;
    margin: 0 auto;
    width: 100%; }
  #machines-detail .container .product-card__name, #machines-detail .product-context .product-card__name {
    text-align: center; }
  #machines-detail .container .product-card__desc-subtitle, #machines-detail .product-context .product-card__desc-subtitle {
    margin: 0 auto; }
  #machines-detail .container .product-card__desc-index, #machines-detail .product-context .product-card__desc-index {
    margin: 0 auto; }
  #machines-detail .container .product-card__service-text, #machines-detail .product-context .product-card__service-text {
    width: 6.875rem; }
  #machines-detail .container .product-card__type, #machines-detail .product-context .product-card__type, #machines-detail .container .product-card__service, #machines-detail .product-context .product-card__service {
    justify-content: center; }
  #machines-detail .container .product-card__special-gift, #machines-detail .product-context .product-card__special-gift, #machines-detail .container .product-card__type, #machines-detail .product-context .product-card__type, #machines-detail .container .product-card__price, #machines-detail .product-context .product-card__price {
    text-align: center; }
  #machines-detail .container .product-media__detail, #machines-detail .product-context .product-media__detail {
    width: 100%;
    height: 100%;
    gap: 0.313rem; }
    #machines-detail .container .product-media__detail-video img, #machines-detail .product-context .product-media__detail-video img {
      width: 60px;
      height: 60px;
      object-fit: cover; }
  #machines-detail .container .product-banner, #machines-detail .product-context .product-banner {
    margin: 0 auto 4rem;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 100%;
    padding: 2rem; }
    #machines-detail .container .product-banner img, #machines-detail .product-context .product-banner img {
      width: 3.125rem;
      height: 3.125rem; }
    #machines-detail .container .product-banner__text-description, #machines-detail .product-context .product-banner__text-description {
      padding-bottom: 1.25rem; }
  #machines-detail .container .product-heading, #machines-detail .product-context .product-heading {
    padding: 0 2rem; }
  #machines-detail .container .product-list, #machines-detail .product-context .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2.25rem; }
  #machines-detail .container .product-item, #machines-detail .product-context .product-item {
    flex: 46%;
    min-height: 145px;
    padding: 0 2%; }
  #machines-detail .container .product-btn__add, #machines-detail .product-context .product-btn__add, #machines-detail .container .product-btn__view, #machines-detail .product-context .product-btn__view {
    width: 80%; }
  #machines-detail .container .product-price-detail, #machines-detail .product-context .product-price-detail {
    gap: 0.25rem; }
  #machines-detail .machines-info {
    width: auto;
    max-width: 62.25rem;
    background-image: none; }
  #machines-detail .machines-container {
    padding: 4rem 0;
    margin: 0 1.25rem;
    gap: 1rem; }
  #machines-detail .machines-specifications {
    flex-direction: column;
    margin-top: 2.375rem;
    width: 100%; }
    #machines-detail .machines-specifications-list {
      width: 100%; }
    #machines-detail .machines-specifications-item {
      width: 85%;
      gap: 0;
      padding: 1.313rem 0;
      height: 100%; }
      #machines-detail .machines-specifications-item__desc {
        height: auto; }
  #machines-detail .machines-banner {
    padding: 2.25rem 0;
    width: 100%; }
  #machines-detail .extraction-method {
    width: auto;
    max-width: 62.25rem;
    margin: 0 1.25rem;
    padding: unset;
    gap: 2.5rem; }
    #machines-detail .extraction-method-item {
      height: 12.188rem;
      padding: 0 0.625rem;
      width: 8.75rem; }
  #machines-detail .storytelling .container, #machines-detail .storytelling .product-context {
    padding: 0 0 2.25rem;
    gap: 2.25rem; }
  #machines-detail .storytelling-menu {
    gap: 1rem;
    align-items: center;
    justify-content: center; }
  #machines-detail .storytelling-title {
    margin: 1.875rem 0; }
  #machines-detail .storytelling-container {
    width: 100%;
    flex-direction: column; }
  #machines-detail .storytelling-description {
    padding: 0 40px 20px;
    text-align: center; }
  #machines-detail .storytelling-caption {
    align-items: center; }
  #machines-detail .storytelling-video__background img {
    width: 100%; }
  #machines-detail .storytelling-content {
    padding: 0 2.5rem 1.25rem; }
  #machines-detail .card-slider {
    margin: 2rem 0; }
    #machines-detail .card-slider .container, #machines-detail .card-slider .product-context {
      max-width: 89% !important;
      padding: 5rem 0 3rem; }
    #machines-detail .card-slider-wrapper {
      flex-direction: column-reverse;
      padding: unset; }
    #machines-detail .card-slider-content {
      max-width: unset;
      flex: 60%;
      padding: 2rem 2rem 3rem; }
    #machines-detail .card-slider-button {
      width: 100%; }
  #machines-detail .faq {
    width: auto;
    max-width: 62.25rem;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 18.75rem auto;
    margin: 0 1.25rem; }
    #machines-detail .faq .container, #machines-detail .faq .product-context {
      padding: 18.75rem 0 4rem; } }
/* Tablet: width >= 768px and width < 1024px */
@media only screen and (min-width: 48rem) and (max-width: 63.938rem) {
  #machines-detail .container .product-main, #machines-detail .product-context .product-main {
    padding: 3.75rem 0 0; }
  #machines-detail .container .product-banner, #machines-detail .product-context .product-banner {
    margin: 2rem auto 4rem;
    padding: 1.5rem 1.5rem 3.5rem;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
    max-width: 768px; }
    #machines-detail .container .product-banner img, #machines-detail .product-context .product-banner img {
      width: 3.125rem;
      height: 3.125rem; }
  #machines-detail .product-heading {
    width: calc(100% - 2.5rem);
    margin: 0 auto; }
    #machines-detail .product-heading__desc {
      max-width: 90%; }
    #machines-detail .product-heading__features {
      max-width: 90%; }
  #machines-detail .product-item {
    flex: 23%;
    padding: 0 1%;
    min-height: 145px; }
  #machines-detail .machines-info {
    background-image: none;
    width: auto;
    max-width: 62.25rem; }
  #machines-detail .machines-container {
    padding: 4rem 0; }
  #machines-detail .machines-specifications {
    border-top: none;
    column-count: 2;
    column-gap: 5.375rem;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 3rem 0; }
    #machines-detail .machines-specifications-list {
      width: 85%; }
  #machines-detail .machines-banner {
    padding: 2.25rem 0 0;
    width: 100%;
    height: 42.75rem; }
    #machines-detail .machines-banner-image {
      font-size: 0;
      height: 100%; }
      #machines-detail .machines-banner-image img {
        width: 31.063rem;
        height: 42.75rem;
        padding-bottom: 2.25rem; }
    #machines-detail .machines-banner-video {
      font-size: 0;
      height: 34.438rem;
      width: 51.75rem;
      right: 1.25rem; }
  #machines-detail .storytelling .container, #machines-detail .storytelling .product-context {
    padding: 2rem 0rem; }
  #machines-detail .storytelling-description {
    padding: 0 40px 20px; }
  #machines-detail .storytelling-menu {
    margin: 0 auto;
    max-width: 49rem;
    width: 100%;
    padding: 0.875rem 4.188rem;
    justify-content: center;
    transform: translateZ(0);
    transition: transform 0.3s; }
  #machines-detail .card-slider .container, #machines-detail .card-slider .product-context {
    padding: 5rem 2rem 2rem; }
  #machines-detail .faq {
    background-position: 100% 0;
    background-size: 37.5rem auto; }
    #machines-detail .faq .container, #machines-detail .faq .product-context {
      padding: 4rem 0; }
  #machines-detail .storytelling-content {
    padding: 0 2.5rem 1.25rem; } }
