body {
  line-height: 1;
  font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
  font-style: normal;
  font-size: 16px;
  scroll-behavior: smooth;
  overflow-x: hidden; }

html {
  scroll-behavior: smooth; }

.wrapper {
  width: 100%; }
  .wrapper-inner {
    max-width: 90rem;
    margin: 0 auto; }
  .wrapper-sm {
    max-width: 56.25rem;
    margin: 0 auto;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    width: 100%;
    padding: 2.5rem 0; }

.container {
  max-width: 68.75rem !important;
  margin: 0 auto; }

/* font  Nes */
.font_heading-1 {
  font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
  font-style: normal;
  font-size: 6rem;
  line-height: 6.5rem;
  letter-spacing: -0.015em; }

.font_heading-2 {
  font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
  font-style: normal;
  font-size: 3.75rem;
  line-height: 4.25rem;
  letter-spacing: -0.005em; }

.font_heading-3, #machines .banner__title {
  font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
  font-style: normal;
  font-size: 3rem;
  line-height: 3.25rem; }

.font_heading-4 {
  font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
  font-style: normal;
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.0025em; }

.font_heading-5, #machines .container .filter-number span, #machines .banner-number span, #machines .banner__content {
  font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 2rem; }

.font_heading-6, #machines .product-name {
  font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
  font-style: normal;
  font-size: 1.125rem;
  line-height: 1.5rem;
  letter-spacing: 0.0015em; }

.font_subtitle-1, #machines .container .filter-item__name, #machines .banner-item__name {
  font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: 0.0125em; }

.font_subtitle-2 {
  font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.01em; }

.font_body-1, #machines .container .filter-sublabel, #machines .container .filter-sublabel[aria-expanded="true"], #machines .container .filter-item .price-input .field input, #machines .banner-sublabel, #machines .banner-sublabel[aria-expanded="true"], #machines .banner-item .price-input .field input {
  font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.005em; }

.font_body-2, #machines .product-desc, #machines .product-type__text, #machines .product-price__num {
  font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.0025em; }

.font_caption {
  font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
  font-style: normal;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.025rem; }

.font_overline, #machines .product-tag__name {
  font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
  font-style: normal;
  font-size: 0.625rem;
  line-height: 1rem;
  letter-spacing: 0.0938rem; }

.font_button, #machines .banner-btn, #machines .product-btn {
  font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.0781rem; }

.button_cart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.5rem;
  gap: 0.5rem;
  background: #3d8705;
  border-radius: 2.5rem;
  border: none;
  cursor: pointer;
  color: #ffffff;
  text-transform: uppercase; }

@media screen {
  @font-face {
    font-family: "Nespresso Lucas";
    src: url("https://www.nespresso.com/emailing/NespressoVisuals/common/fonts/Regular/NespressoLucas-Regular.woff2") format("woff2");
    src: url("https://www.nespresso.com/emailing/NespressoVisuals/common/fonts/Regular/NespressoLucas-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal; }
  @font-face {
    font-family: "Nespresso Lucas Light";
    src: url("https://www.nespresso.com/emailing/NespressoVisuals/common/fonts/Light/NespressoLucas-Light.woff2") format("woff2");
    src: url("https://www.nespresso.com/emailing/NespressoVisuals/common/fonts/Light/NespressoLucas-Light.woff") format("woff");
    font-weight: normal;
    font-style: normal; }
  @font-face {
    font-family: "Nespresso Lucas XtraBd";
    src: url("https://www.nespresso.com/emailing/NespressoVisuals/common/fonts/XtraBd/NespressoLucas-XtraBd.woff2") format("woff2");
    src: url("https://www.nespresso.com/emailing/NespressoVisuals/common/fonts/XtraBd/NespressoLucas-XtraBd.woff") format("woff");
    font-weight: bold; } }
/* font  Nes */
/* destop: width >= 1024px */
@media only screen and (min-width: 64rem) {
  .hide_on-pc {
    display: none !important; }

  .show_on-pc {
    display: block !important; } }
/* Tablet: width >= 768px and width < 1024px */
@media only screen and (min-width: 48rem) and (max-width: 64rem) {
  .hide_on-tab {
    display: none !important; }

  .show_on-tab {
    display: block !important; } }
/* Mobile: width < 768px */
@media only screen and (max-width: 48rem) {
  .hide_on-mobile {
    display: none !important; }

  .show_on-mobile {
    display: block !important; }

  /* font  Nes */
  .font_heading-1 {
    font-size: 3rem;
    line-height: 6.5rem;
    letter-spacing: -0.015em; }

  .font_heading-2 {
    font-size: 2.5rem;
    line-height: 4.25rem;
    letter-spacing: -0.005em; }

  .font_heading-3, #machines .banner__title {
    font-size: 2.25rem;
    line-height: 3.25rem; }

  .font_heading-4 {
    font-size: 1.75rem;
    line-height: 2.5rem;
    letter-spacing: 0.0025em; }

  .font_heading-5, #machines .container .filter-number span, #machines .banner-number span, #machines .banner__content {
    font-size: 1.25rem;
    line-height: 2rem; }

  .font_heading-6, #machines .product-name {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.0015em; }

  .font_subtitle-1, #machines .container .filter-item__name, #machines .banner-item__name {
    font-size: 1rem;
    line-height: 1.25rem;
    letter-spacing: 0.0125em; }

  .font_subtitle-2 {
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.01em; }

  .font_body-1, #machines .container .filter-sublabel, #machines .container .filter-sublabel[aria-expanded="true"], #machines .container .filter-item .price-input .field input, #machines .banner-sublabel, #machines .banner-sublabel[aria-expanded="true"], #machines .banner-item .price-input .field input {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.005em; }

  .font_body-2, #machines .product-desc, #machines .product-type__text, #machines .product-price__num {
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.0025em; }

  .font_caption {
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 0.025rem; }

  .font_overline, #machines .product-tag__name {
    font-size: 0.625rem;
    line-height: 1rem;
    letter-spacing: 0.0938rem; }

  .font_button, #machines .banner-btn, #machines .product-btn {
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.0781rem; } }
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

.white-text {
  color: #ffffff !important; }

/* Shadow Elevation/04 */
/* Shadow Elevation/12 */
/* Shadow Elevation/06 */
/* Shadow Elevation/03 */
@keyframes modalEaseOut {
  from {
    transform: translateY(-6.25rem);
    opacity: 0; }
  to {
    transform: translateY(0rem);
    opacity: 1; } }
@keyframes modalTrans {
  from {
    transform: translateY(100%); }
  to {
    transform: translate(0); } }
#machines .hero {
  font-weight: 700;
  width: 100%;
  text-align: center;
  color: #1b1b1b;
  background: #d8cbc3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem 5rem;
  gap: 0.75rem; }
#machines .container {
  width: 100%; }
  #machines .container .filter-machines {
    margin-top: 1.5rem;
    display: flex;
    align-items: center; }
  #machines .container .filter-number span {
    font-weight: 700;
    color: #1b1b1b;
    word-break: break-all; }
  #machines .container .filter-button {
    position: absolute;
    right: 0;
    bottom: 100%;
    box-sizing: border-box; }
  #machines .container .filter-sublabel {
    border: 0.0625rem solid #1b1b1b;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    position: relative;
    font-weight: 400;
    color: #454547;
    background: none; }
    #machines .container .filter-sublabel[aria-expanded="true"] {
      position: relative;
      border-radius: 3px 3px 0 0;
      border-bottom: none;
      background-color: #ffffff;
      color: #2e2e2e;
      font-weight: 400;
      color: #454547;
      background: none; }
    #machines .container .filter-sublabel::after {
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      content: "";
      width: 100%;
      height: 1px;
      background: #fff; }
  #machines .container .filter-toggle {
    margin: 0 0 -1px;
    outline: none; }
  #machines .container .filter-list {
    display: none;
    border: 0.0625rem solid #000000;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem; }
  #machines .container .filter-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    width: 100%; }
    #machines .container .filter-item__name {
      font-weight: 600;
      color: #000000;
      text-transform: uppercase; }
    #machines .container .filter-item__ellipse {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 1.25rem;
      flex-wrap: wrap;
      list-style: none; }
    #machines .container .filter-item__color {
      position: relative;
      box-sizing: border-box; }
      #machines .container .filter-item__color .VisuallyHidden {
        position: absolute;
        width: 0.063rem;
        height: 0.063rem;
        padding: 0;
        margin: -0.063rem;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0; }
      #machines .container .filter-item__color input {
        position: absolute;
        width: 0.063rem;
        height: 0.063rem;
        padding: 0;
        margin: -0.063rem;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0; }
    #machines .container .filter-item__label {
      cursor: pointer;
      position: relative;
      display: block;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 100%;
      border: 1px solid rgba(0, 0, 0, 0.2); }
      #machines .container .filter-item__label::after {
        border: 1px solid rgba(0, 0, 0, 0.2);
        display: block;
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 0;
        height: 0;
        border-radius: 100%;
        background: #fff;
        opacity: 0;
        transition: all 0.4s ease-in-out; }
      #machines .container .filter-item__label:hover::after {
        opacity: 1;
        width: 1.25rem;
        height: 1.25rem; }
      #machines .container .filter-item__label--checked::after {
        opacity: 1;
        width: 1.25rem;
        height: 1.25rem; }
    #machines .container .filter-item .price-input {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%; }
      #machines .container .filter-item .price-input .field input {
        font-weight: 500;
        color: #000000;
        width: 43%;
        border: none;
        height: 100%;
        outline: none; }
      #machines .container .filter-item .price-input .field:first-child input {
        text-align: start; }
    #machines .container .filter-item input[type="number"]::-webkit-outer-spin-button,
    #machines .container .filter-item input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none; }
    #machines .container .filter-item input[type="range"]::-webkit-outer-spin-button,
    #machines .container .filter-item input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none; }
    #machines .container .filter-item .slider {
      height: 5px;
      position: relative;
      background: #ddd;
      border-radius: 5px; }
    #machines .container .filter-item .slider .progress {
      height: 100%;
      left: 25%;
      right: 25%;
      position: absolute;
      border-radius: 5px;
      background: #17171a; }
    #machines .container .filter-item .range-input {
      position: relative;
      width: 98%;
      margin: 0 auto; }
    #machines .container .filter-item .range-input input {
      position: absolute;
      width: 100%;
      height: 5px;
      top: -5px;
      background: none;
      pointer-events: none;
      accent-color: #17171a;
      cursor: pointer; }
    #machines .container .filter-item input[type="range"]::-webkit-slider-thumb {
      height: 1.25rem;
      width: 1.25rem;
      border-radius: 50%;
      background: #17171a;
      pointer-events: auto;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.05); }
    #machines .container .filter-item input[type="range"]::-moz-range-thumb {
      height: 1.25rem;
      width: 1.25rem;
      border: none;
      border-radius: 50%;
      background: #17171a;
      pointer-events: auto;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.05); }
  #machines .container .filter-wrapper {
    position: relative; }
  #machines .container .filter-price {
    width: 100%; }
    #machines .container .filter-price__number {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 0.125rem;
      width: 100%;
      cursor: pointer; }
      #machines .container .filter-price__number p {
        font-weight: 500;
        color: #000000; }
    #machines .container .filter-price__range {
      border: solid #1b1b1b;
      margin: 0 1.25rem 0.625rem;
      position: relative;
      cursor: pointer; }
      #machines .container .filter-price__range span:first-child {
        display: block;
        width: 1.25rem;
        height: 1.25rem;
        background: #1b1b1b;
        position: absolute;
        top: -0.625rem;
        left: -0.3125rem;
        border-radius: 50%; }
      #machines .container .filter-price__range span:last-child {
        display: block;
        width: 1.25rem;
        height: 1.25rem;
        background: #1b1b1b;
        position: absolute;
        top: -0.625rem;
        right: -0.3125rem;
        border-radius: 50%; }
#machines .banner {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 3.75rem;
  gap: 0.25rem;
  background: #f3eee6; }
  #machines .banner-number span {
    font-weight: 700;
    color: #1b1b1b;
    word-break: break-all; }
  #machines .banner-button {
    position: absolute;
    right: 0;
    bottom: 100%;
    box-sizing: border-box; }
  #machines .banner-sublabel {
    border: 0.0625rem solid #1b1b1b;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    position: relative;
    font-weight: 400;
    color: #454547;
    background: none; }
    #machines .banner-sublabel[aria-expanded="true"] {
      position: relative;
      border-radius: 3px 3px 0 0;
      border-bottom: none;
      background-color: #ffffff;
      color: #2e2e2e;
      font-weight: 400;
      color: #454547;
      background: none; }
    #machines .banner-sublabel::after {
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      content: "";
      width: 100%;
      height: 1px;
      background: #fff; }
  #machines .banner-toggle {
    margin: 0 0 -1px;
    outline: none; }
  #machines .banner-list {
    display: none;
    border: 0.0625rem solid #000000;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem; }
  #machines .banner-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    width: 100%; }
    #machines .banner-item__name {
      font-weight: 600;
      color: #000000;
      text-transform: uppercase; }
    #machines .banner-item__ellipse {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 1.25rem;
      flex-wrap: wrap;
      list-style: none; }
    #machines .banner-item__color {
      position: relative;
      box-sizing: border-box; }
      #machines .banner-item__color .VisuallyHidden {
        position: absolute;
        width: 0.063rem;
        height: 0.063rem;
        padding: 0;
        margin: -0.063rem;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0; }
      #machines .banner-item__color input {
        position: absolute;
        width: 0.063rem;
        height: 0.063rem;
        padding: 0;
        margin: -0.063rem;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0; }
    #machines .banner-item__label {
      cursor: pointer;
      position: relative;
      display: block;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 100%;
      border: 1px solid rgba(0, 0, 0, 0.2); }
      #machines .banner-item__label::after {
        border: 1px solid rgba(0, 0, 0, 0.2);
        display: block;
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 0;
        height: 0;
        border-radius: 100%;
        background: #fff;
        opacity: 0;
        transition: all 0.4s ease-in-out; }
      #machines .banner-item__label:hover::after {
        opacity: 1;
        width: 1.25rem;
        height: 1.25rem; }
      #machines .banner-item__label--checked::after {
        opacity: 1;
        width: 1.25rem;
        height: 1.25rem; }
    #machines .banner-item .price-input {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%; }
      #machines .banner-item .price-input .field input {
        font-weight: 500;
        color: #000000;
        width: 43%;
        border: none;
        height: 100%;
        outline: none; }
      #machines .banner-item .price-input .field:first-child input {
        text-align: start; }
    #machines .banner-item input[type="number"]::-webkit-outer-spin-button,
    #machines .banner-item input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none; }
    #machines .banner-item input[type="range"]::-webkit-outer-spin-button,
    #machines .banner-item input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none; }
    #machines .banner-item .slider {
      height: 5px;
      position: relative;
      background: #ddd;
      border-radius: 5px; }
    #machines .banner-item .slider .progress {
      height: 100%;
      left: 25%;
      right: 25%;
      position: absolute;
      border-radius: 5px;
      background: #17171a; }
    #machines .banner-item .range-input {
      position: relative;
      width: 98%;
      margin: 0 auto; }
    #machines .banner-item .range-input input {
      position: absolute;
      width: 100%;
      height: 5px;
      top: -5px;
      background: none;
      pointer-events: none;
      accent-color: #17171a;
      cursor: pointer; }
    #machines .banner-item input[type="range"]::-webkit-slider-thumb {
      height: 1.25rem;
      width: 1.25rem;
      border-radius: 50%;
      background: #17171a;
      pointer-events: auto;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.05); }
    #machines .banner-item input[type="range"]::-moz-range-thumb {
      height: 1.25rem;
      width: 1.25rem;
      border: none;
      border-radius: 50%;
      background: #17171a;
      pointer-events: auto;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.05); }
  #machines .banner-wrapper {
    position: relative; }
  #machines .banner-price {
    width: 100%; }
    #machines .banner-price__number {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 0.125rem;
      width: 100%;
      cursor: pointer; }
      #machines .banner-price__number p {
        font-weight: 500;
        color: #000000; }
    #machines .banner-price__range {
      border: solid #1b1b1b;
      margin: 0 1.25rem 0.625rem;
      position: relative;
      cursor: pointer; }
      #machines .banner-price__range span:first-child {
        display: block;
        width: 1.25rem;
        height: 1.25rem;
        background: #1b1b1b;
        position: absolute;
        top: -0.625rem;
        left: -0.3125rem;
        border-radius: 50%; }
      #machines .banner-price__range span:last-child {
        display: block;
        width: 1.25rem;
        height: 1.25rem;
        background: #1b1b1b;
        position: absolute;
        top: -0.625rem;
        right: -0.3125rem;
        border-radius: 50%; }
#machines .banner {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 3.75rem;
  gap: 0.25rem;
  background: #f3eee6; }
  #machines .banner-heading {
    text-align: center;
    font-weight: 700;
    color: #000000; }
  #machines .banner-content {
    text-align: center;
    color: #454547;
    font-weight: 400; }
  #machines .banner-btn {
    padding: 1rem 1.5rem;
    background: #3d8705;
    border-radius: 2.5rem;
    border: none;
    text-align: center;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer; }
    #machines .banner-btn:hover {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #3d8705; }
#machines .product-list {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1.5rem;
  row-gap: 1.5rem; }
#machines .product-item {
  box-shadow: 0rem 0.25rem 0.313rem rgba(0, 0, 0, 0.14);
  background-color: #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 1.5rem 1rem; }
#machines .product-tag {
  position: absolute;
  right: -0.0125rem;
  top: 0rem;
  background-color: #8f7247;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  #machines .product-tag__name {
    text-align: center;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase; }
#machines .product-image {
  height: 6.25rem;
  text-align: center;
  margin-bottom: 1rem; }
  #machines .product-image img {
    height: 100%; }
#machines .product-name {
  text-align: center;
  color: #454547;
  font-weight: 600;
  height: 100%; }
#machines .product-desc {
  text-align: center;
  color: #454547;
  font-weight: 400;
  margin-bottom: 1rem; }
#machines .product-type {
  height: 2.75rem;
  gap: 0.75rem;
  border-bottom: 0.0625rem solid #d5d5d5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
  #machines .product-type__text {
    color: #454547;
    font-weight: 400;
    padding: 0.75rem 0; }
  #machines .product-type__color {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.5rem; }
    #machines .product-type__color span {
      box-sizing: border-box;
      display: inline-block;
      width: 0.75rem;
      height: 0.75rem;
      border: 0.0625rem solid rgba(0, 0, 0, 0.2);
      border-radius: 50%; }
    #machines .product-type__color--red {
      background: #ff0000; }
    #machines .product-type__color--black {
      background: #000000; }
    #machines .product-type__color--green {
      background: #008000; }
    #machines .product-type__color--brick-red {
      background: #960018; }
#machines .product-price {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem; }
  #machines .product-price__num {
    color: #3d8705;
    font-weight: 600;
    width: 100%;
    text-align: center; }
  #machines .product-price__add {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2.5rem;
    color: #ffffff;
    background: #3d8705;
    width: 3rem;
    height: 3rem;
    border: none;
    cursor: pointer;
    padding: 0.75rem; }
    #machines .product-price__add:hover {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #3d8705; }
#machines .product-btn {
  margin-top: 1rem;
  padding: 0.75rem;
  background: #3d8705;
  border-radius: 2.5rem;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  height: 2.0625rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  #machines .product-btn a {
    color: #ffffff;
    text-decoration: none; }
  #machines .product-btn:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #3d8705; }

/* Mobile: width < 768px */
@media only screen and (max-width: 47.938em) {
  #machines {
    padding-top: 3.125rem; }
    #machines .hero {
      padding: 2rem 0; }
      #machines .hero .banner__title {
        font-size: 2rem;
        line-height: 1.2; }
    #machines .container {
      padding: 1.25rem 0.625rem; }
      #machines .container .filter-list__ellipse span {
        width: 1.5rem;
        height: 1.5rem; }
      #machines .container .banner {
        flex-direction: column;
        padding: 1.25rem 1.25rem 1.875rem; }
        #machines .container .banner-btn {
          width: 100%; }
      #machines .container .product-list {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
        row-gap: 1rem; }
      #machines .container .product-btn {
        font-size: 0.75rem;
        padding: 1.25rem 0; }
      #machines .container .price-input .field .input-max {
        width: 50%; } }
/* Tablet: width >= 768px and width < 1024px */
@media only screen and (min-width: 48rem) and (max-width: 63.938rem) {
  #machines {
    padding-top: 3.125rem; }
    #machines .container {
      max-width: 768px !important; }
      #machines .container .product-list {
        grid-template-columns: repeat(3, 1fr); } }
