body {
  line-height: 1;
  font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
  font-style: normal;
  font-size: 16px;
  scroll-behavior: smooth;
  overflow-x: hidden; }

html {
  scroll-behavior: smooth; }

.wrapper {
  width: 100%; }
  .wrapper-inner {
    max-width: 90rem;
    margin: 0 auto; }
  .wrapper-sm {
    max-width: 56.25rem;
    margin: 0 auto;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    width: 100%;
    padding: 2.5rem 0; }

.container {
  max-width: 68.75rem !important;
  margin: 0 auto; }

/* font  Nes */
.font_heading-1 {
  font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
  font-style: normal;
  font-size: 6rem;
  line-height: 6.5rem;
  letter-spacing: -0.015em; }

.font_heading-2 {
  font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
  font-style: normal;
  font-size: 3.75rem;
  line-height: 4.25rem;
  letter-spacing: -0.005em; }

.font_heading-3 {
  font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
  font-style: normal;
  font-size: 3rem;
  line-height: 3.25rem; }

.font_heading-4, #professional_detail .product-detail__title, #professional_detail .product-specs__heading, #professional_detail .discover-content__heading, #professional_detail .recommend-heading, #professional_detail .customer-services-title, #professional_detail .product-related__heading, #professional_detail .contact-heading {
  font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
  font-style: normal;
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.0025em; }

.font_heading-5, #professional_detail .product-related__item-head h5 {
  font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 2rem; }

.font_heading-6 {
  font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
  font-style: normal;
  font-size: 1.125rem;
  line-height: 1.5rem;
  letter-spacing: 0.0015em; }

.font_subtitle-1, #professional_detail .product-detail__heading, #professional_detail .product-features__item span, #professional_detail .contact-form__content label {
  font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: 0.0125em; }

.font_subtitle-2 {
  font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.01em; }

.font_body-1, #professional_detail .product-specs__item-name, #professional_detail .product-specs__table-desc p, #professional_detail .discover-content__desc, #professional_detail .discover-content__detail, #professional_detail .tagLine-text, #professional_detail .tagLine-btn a, #professional_detail .recommend-title, #professional_detail .contact-title, #professional_detail .contact-form__title {
  font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.005em; }

.font_body-2, #professional_detail .product-specs__item-type, #professional_detail .customer-services-item__question span, #professional_detail .customer-services-item__answer p, #professional_detail .services-content__heading, #professional_detail .services-content__desc {
  font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.0025em; }

.font_caption, #professional_detail .customer-services-item__rate-text, #professional_detail .product-related__item-label, #professional_detail .contact-form__detail {
  font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
  font-style: normal;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.025rem; }

.font_overline {
  font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
  font-style: normal;
  font-size: 0.625rem;
  line-height: 1rem;
  letter-spacing: 0.0938rem; }

.font_button, #professional_detail .product-link a, #professional_detail .product-media__btn a, #professional_detail .product-detail__btn a, #professional_detail .discover-content__btn a, #professional_detail .discover-content__more a, #professional_detail .recommend-btn a, #professional_detail .product-related__item-head button a, #professional_detail .product-related__item-footer span, #professional_detail .product-related__item-footer button a, #professional_detail .contact-form__submit {
  font-family: "Nespresso Lucas", Helvetica, Trebuchet, Arial, sans-serif;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.0781rem; }

.button_cart, #professional_detail .product-related__item-footer button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.5rem;
  gap: 0.5rem;
  background: #3d8705;
  border-radius: 2.5rem;
  border: none;
  cursor: pointer;
  color: #ffffff;
  text-transform: uppercase; }

@media screen {
  @font-face {
    font-family: "Nespresso Lucas";
    src: url("https://www.nespresso.com/emailing/NespressoVisuals/common/fonts/Regular/NespressoLucas-Regular.woff2") format("woff2");
    src: url("https://www.nespresso.com/emailing/NespressoVisuals/common/fonts/Regular/NespressoLucas-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal; }
  @font-face {
    font-family: "Nespresso Lucas Light";
    src: url("https://www.nespresso.com/emailing/NespressoVisuals/common/fonts/Light/NespressoLucas-Light.woff2") format("woff2");
    src: url("https://www.nespresso.com/emailing/NespressoVisuals/common/fonts/Light/NespressoLucas-Light.woff") format("woff");
    font-weight: normal;
    font-style: normal; }
  @font-face {
    font-family: "Nespresso Lucas XtraBd";
    src: url("https://www.nespresso.com/emailing/NespressoVisuals/common/fonts/XtraBd/NespressoLucas-XtraBd.woff2") format("woff2");
    src: url("https://www.nespresso.com/emailing/NespressoVisuals/common/fonts/XtraBd/NespressoLucas-XtraBd.woff") format("woff");
    font-weight: bold; } }
/* font  Nes */
/* destop: width >= 1024px */
@media only screen and (min-width: 64rem) {
  .hide_on-pc {
    display: none !important; }

  .show_on-pc {
    display: block !important; } }
/* Tablet: width >= 768px and width < 1024px */
@media only screen and (min-width: 48rem) and (max-width: 64rem) {
  .hide_on-tab {
    display: none !important; }

  .show_on-tab {
    display: block !important; } }
/* Mobile: width < 768px */
@media only screen and (max-width: 48rem) {
  .hide_on-mobile {
    display: none !important; }

  .show_on-mobile {
    display: block !important; }

  /* font  Nes */
  .font_heading-1 {
    font-size: 3rem;
    line-height: 6.5rem;
    letter-spacing: -0.015em; }

  .font_heading-2 {
    font-size: 2.5rem;
    line-height: 4.25rem;
    letter-spacing: -0.005em; }

  .font_heading-3 {
    font-size: 2.25rem;
    line-height: 3.25rem; }

  .font_heading-4, #professional_detail .product-detail__title, #professional_detail .product-specs__heading, #professional_detail .discover-content__heading, #professional_detail .recommend-heading, #professional_detail .customer-services-title, #professional_detail .product-related__heading, #professional_detail .contact-heading {
    font-size: 1.75rem;
    line-height: 2.5rem;
    letter-spacing: 0.0025em; }

  .font_heading-5, #professional_detail .product-related__item-head h5 {
    font-size: 1.25rem;
    line-height: 2rem; }

  .font_heading-6 {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.0015em; }

  .font_subtitle-1, #professional_detail .product-detail__heading, #professional_detail .product-features__item span, #professional_detail .contact-form__content label {
    font-size: 1rem;
    line-height: 1.25rem;
    letter-spacing: 0.0125em; }

  .font_subtitle-2 {
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.01em; }

  .font_body-1, #professional_detail .product-specs__item-name, #professional_detail .product-specs__table-desc p, #professional_detail .discover-content__desc, #professional_detail .discover-content__detail, #professional_detail .tagLine-text, #professional_detail .tagLine-btn a, #professional_detail .recommend-title, #professional_detail .contact-title, #professional_detail .contact-form__title {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.005em; }

  .font_body-2, #professional_detail .product-specs__item-type, #professional_detail .customer-services-item__question span, #professional_detail .customer-services-item__answer p, #professional_detail .services-content__heading, #professional_detail .services-content__desc {
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.0025em; }

  .font_caption, #professional_detail .customer-services-item__rate-text, #professional_detail .product-related__item-label, #professional_detail .contact-form__detail {
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 0.025rem; }

  .font_overline {
    font-size: 0.625rem;
    line-height: 1rem;
    letter-spacing: 0.0938rem; }

  .font_button, #professional_detail .product-link a, #professional_detail .product-media__btn a, #professional_detail .product-detail__btn a, #professional_detail .discover-content__btn a, #professional_detail .discover-content__more a, #professional_detail .recommend-btn a, #professional_detail .product-related__item-head button a, #professional_detail .product-related__item-footer span, #professional_detail .product-related__item-footer button a, #professional_detail .contact-form__submit {
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.0781rem; } }
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

.white-text {
  color: #ffffff !important; }

/* Shadow Elevation/04 */
/* Shadow Elevation/12 */
/* Shadow Elevation/06 */
/* Shadow Elevation/03 */
@keyframes modalEaseOut {
  from {
    transform: translateY(-6.25rem);
    opacity: 0; }
  to {
    transform: translateY(0rem);
    opacity: 1; } }
@keyframes modalTrans {
  from {
    transform: translateY(100%); }
  to {
    transform: translate(0); } }
#professional_detail .product {
  background-color: #f3eee6; }
  #professional_detail .product .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3.75rem 0; }
  #professional_detail .product-link {
    border: none;
    background-color: unset; }
    #professional_detail .product-link a {
      padding: 0.5rem;
      font-weight: 600;
      color: #876c43;
      text-decoration: none; }
      #professional_detail .product-link a:hover {
        text-decoration: underline; }
  #professional_detail .product-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0rem;
    gap: 1.5rem; }
  #professional_detail .product-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem;
    gap: 1.5rem; }
    #professional_detail .product-media__image {
      max-height: 30rem; }
      #professional_detail .product-media__image img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    #professional_detail .product-media__btn {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 1rem 1.5rem;
      gap: 0.5rem;
      background-color: #1b1b1b;
      border-radius: 2.5rem;
      max-height: 3.5rem;
      cursor: pointer; }
      #professional_detail .product-media__btn a {
        text-decoration: none;
        font-weight: 600;
        color: #ffffff;
        text-transform: uppercase;
        transition: 0.3s ease-in-out;
        transition-property: background-color, color, border, box-shadow, text-shadow; }
      #professional_detail .product-media__btn:hover {
        background-color: #ffffff;
        border-color: #17171a; }
        #professional_detail .product-media__btn:hover a {
          color: #17171a;
          transition: 0.3s ease-in-out;
          transition-property: background-color, color, border, box-shadow, text-shadow; }
        #professional_detail .product-media__btn:hover svg path {
          fill: black; }
  #professional_detail .product-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    gap: 1rem;
    background-color: #ffffff;
    box-shadow: 0rem 0.25rem 0.313rem rgba(0, 0, 0, 0.14);
    max-width: 21.9375rem; }
    #professional_detail .product-detail__heading {
      color: #454547;
      text-align: center;
      font-weight: 500; }
      #professional_detail .product-detail__heading p:first-child {
        font-weight: 700; }
    #professional_detail .product-detail__title {
      font-weight: 700;
      color: #1b1b1b;
      text-align: center; }
    #professional_detail .product-detail__color {
      width: 0.75rem;
      height: 0.75rem;
      border-radius: 50%;
      background-color: #808080;
      border: 0.0625rem solid rgba(0, 0, 0, 0.2); }
    #professional_detail .product-detail__btn {
      padding: 1rem 1.5rem;
      background: #3d8705;
      border-radius: 2.5rem;
      border: none;
      width: 10.3125rem;
      height: 2.5625rem;
      display: flex;
      justify-content: center;
      align-items: center; }
      #professional_detail .product-detail__btn a {
        text-align: center;
        text-decoration: none;
        font-weight: 600;
        color: #ffffff;
        text-transform: uppercase; }
      #professional_detail .product-detail__btn:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #3d8705; }
#professional_detail .product-features__list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1.5rem 0;
  width: 100%; }
#professional_detail .product-features__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 1rem;
  gap: 1.25rem;
  width: 100%;
  cursor: pointer; }
  #professional_detail .product-features__item span {
    font-weight: 600;
    color: #000000;
    text-align: center; }
#professional_detail .product-specs-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3.75rem 0;
  gap: 3.75rem;
  width: 100%; }
#professional_detail .product-specs__heading {
  font-weight: 600;
  color: #1b1b1b;
  text-align: center;
  width: 100%; }
#professional_detail .product-specs__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%; }
#professional_detail .product-specs__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem;
  gap: 0.25rem;
  color: #000000;
  text-align: center;
  width: 100%;
  cursor: pointer; }
  #professional_detail .product-specs__item-image {
    max-height: 10.1875rem; }
    #professional_detail .product-specs__item-image img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  #professional_detail .product-specs__item-name {
    font-weight: 600; }
  #professional_detail .product-specs__item-type {
    font-weight: 400; }
#professional_detail .product-specs__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0rem;
  gap: 1.25rem;
  width: 100%; }
  #professional_detail .product-specs__content h4 {
    text-align: start; }
#professional_detail .product-specs__table {
  column-count: 2;
  column-gap: 1.5rem;
  width: 100%;
  list-style: none; }
  #professional_detail .product-specs__table-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 0rem;
    gap: 0.5rem;
    max-height: 5.25rem;
    border-bottom: 0.0625rem solid #d5d5d5; }
  #professional_detail .product-specs__table-desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0rem;
    gap: 0.25rem; }
    #professional_detail .product-specs__table-desc p {
      font-weight: 400;
      color: #000000; }
#professional_detail .discover {
  padding: 3.75rem 0; }
  #professional_detail .discover .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem; }
  #professional_detail .discover-image {
    height: 23.75rem;
    position: relative; }
    #professional_detail .discover-image img {
      height: 100%;
      object-fit: cover; }
    #professional_detail .discover-image svg {
      cursor: pointer;
      position: absolute;
      left: calc(50% - 3.75rem / 2);
      top: calc(50% - 3.75rem / 2); }
  #professional_detail .discover-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0rem;
    gap: 0.75rem; }
    #professional_detail .discover-content__heading {
      font-weight: 600;
      color: #1b1b1b; }
    #professional_detail .discover-content__desc {
      font-weight: 400;
      color: #000000; }
    #professional_detail .discover-content__btn {
      background-color: unset;
      border: none;
      padding: 0.5rem; }
      #professional_detail .discover-content__btn a {
        font-weight: 600;
        text-align: center;
        color: #8f7247;
        text-decoration: none; }
    #professional_detail .discover-content__detail {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 0rem;
      gap: 0.25rem;
      font-weight: 400;
      color: #000000; }
    #professional_detail .discover-content__more {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem 1.5rem;
      background-color: #1b1b1b;
      border-radius: 2.5rem;
      max-height: 2.5625rem;
      cursor: pointer; }
      #professional_detail .discover-content__more a {
        text-align: center;
        font-weight: 600;
        color: #ffffff;
        text-decoration: none; }
      #professional_detail .discover-content__more:hover {
        background-color: #ffffff;
        border-color: #17171a; }
        #professional_detail .discover-content__more:hover a {
          color: #17171a; }
#professional_detail .tagLine {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  gap: 0.25rem;
  background-color: #8f7247; }
  #professional_detail .tagLine-text {
    font-weight: 400;
    color: #ffffff; }
  #professional_detail .tagLine-btn {
    padding: 0.5rem;
    background-color: unset;
    border: none;
    max-height: 1.5625rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    #professional_detail .tagLine-btn a {
      font-weight: 600;
      color: #ffffff;
      text-decoration: none; }
#professional_detail .recommend {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.75rem 10.625rem;
  gap: 0.875rem;
  background-color: #e6e6e6; }
  #professional_detail .recommend-heading {
    font-weight: 600;
    color: #1b1b1b;
    text-align: center; }
  #professional_detail .recommend-title {
    font-weight: 500;
    color: #1b1b1b;
    text-align: center; }
  #professional_detail .recommend-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.5rem;
    background-color: #1b1b1b;
    border-radius: 2.5rem;
    max-height: 2.5625rem;
    cursor: pointer; }
    #professional_detail .recommend-btn a {
      text-align: center;
      font-weight: 600;
      color: #ffffff;
      text-decoration: none; }
    #professional_detail .recommend-btn:hover {
      background-color: #ffffff;
      border-color: #17171a; }
      #professional_detail .recommend-btn:hover a {
        color: #17171a; }
#professional_detail .customer-services-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.25rem 0;
  gap: 0.75rem;
  width: 100%; }
#professional_detail .customer-services-title {
  font-weight: 600;
  text-align: center;
  color: #1b1b1b;
  width: 100%; }
#professional_detail .customer-services-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  #professional_detail .customer-services-list details[open] summary svg {
    transform: rotate(45deg); }
#professional_detail .customer-services-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%; }
  #professional_detail .customer-services-item__question {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0.5rem 0rem;
    gap: 0.75rem;
    width: 100%;
    cursor: pointer;
    list-style: none; }
    #professional_detail .customer-services-item__question span {
      font-weight: 600;
      color: #1b1b1b; }
  #professional_detail .customer-services-item__answer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0rem 0rem 0rem 1.75rem; }
    #professional_detail .customer-services-item__answer p {
      font-weight: 400;
      color: #1b1b1b;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0.75rem 0rem;
      gap: 0.625rem;
      border-bottom: 0.0625rem solid #e6e6e6;
      max-height: 2.75rem; }
  #professional_detail .customer-services-item__rate {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.75rem 0rem;
    gap: 1.125rem; }
    #professional_detail .customer-services-item__rate-icon {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 0rem;
      gap: 0.375rem; }
    #professional_detail .customer-services-item__rate-text {
      font-weight: 400;
      color: #454547; }
#professional_detail .image-slider {
  margin: 0 auto;
  padding: 3.75rem 0;
  overflow: hidden; }
  #professional_detail .image-slider .image-item {
    width: 100% !important;
    height: 100%; }
    #professional_detail .image-slider .image-item img {
      min-height: 33.5rem;
      object-fit: cover; }
  #professional_detail .image-slider .slick-track {
    display: flex !important;
    gap: 1.5rem !important;
    width: 100vw !important; }
  #professional_detail .image-slider .slick-prev:before {
    display: flex;
    justify-content: center;
    align-items: center; }
  #professional_detail .image-slider .slick-next:before {
    display: flex;
    justify-content: center;
    align-items: center; }
  #professional_detail .image-slider .slick-prev {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 10;
    width: 3.75rem;
    height: 3.75rem;
    background: #17171a;
    border-radius: 50%;
    cursor: pointer;
    border: none; }
    #professional_detail .image-slider .slick-prev:hover {
      color: #17171a;
      border: 1px solid #17171a;
      background-color: #ffffff; }
      #professional_detail .image-slider .slick-prev:hover svg path {
        fill: black; }
  #professional_detail .image-slider .slick-next {
    position: absolute;
    top: 50%;
    right: -0.4375rem;
    z-index: 10;
    width: 3.75rem;
    height: 3.75rem;
    background: #17171a;
    border-radius: 50%;
    cursor: pointer;
    border: none; }
    #professional_detail .image-slider .slick-next:hover {
      color: #17171a;
      border: 1px solid #17171a;
      background-color: #ffffff; }
      #professional_detail .image-slider .slick-next:hover svg path {
        fill: black; }
  #professional_detail .image-slider .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    list-style: none; }
    #professional_detail .image-slider .slick-dots li {
      display: inline-block;
      padding: 1px;
      background-color: #c5c5c5;
      margin: 10px 5px;
      width: 10px;
      height: 10px;
      border-radius: 10px;
      cursor: pointer; }
      #professional_detail .image-slider .slick-dots li.slick-active {
        background: #17171a; }
    #professional_detail .image-slider .slick-dots button {
      display: none; }
#professional_detail .services {
  background-color: #e6e6e6; }
  #professional_detail .services-main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 3.75rem 0;
    gap: 1.5rem; }
  #professional_detail .services-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem;
    gap: 1rem;
    width: 100%; }
  #professional_detail .services-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem;
    gap: 0.25rem; }
    #professional_detail .services-content__heading {
      font-weight: 700;
      color: #000000;
      text-align: center; }
    #professional_detail .services-content__desc {
      font-weight: 400;
      color: #454547;
      text-align: center; }
#professional_detail .product-related-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3.75rem 0;
  gap: 1.5rem; }
#professional_detail .product-related__heading {
  font-weight: 600;
  color: #1b1b1b; }
#professional_detail .product-related__list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0rem;
  gap: 1.5rem;
  width: 100%; }
#professional_detail .product-related__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.75rem 1rem 1rem;
  background-color: #ffffff;
  gap: 1.5rem;
  box-shadow: 0rem 0.25rem 0.313rem rgba(0, 0, 0, 0.14);
  position: relative;
  width: 100%;
  justify-content: space-between;
  min-height: 18rem; }
  #professional_detail .product-related__item-label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.25rem;
    background-color: #3d8705;
    font-weight: 500;
    color: #ffffff;
    text-align: center; }
  #professional_detail .product-related__item-head {
    display: flex;
    flex-direction: column;
    align-items: center; }
    #professional_detail .product-related__item-head h5 {
      font-weight: 600;
      color: #000000;
      text-align: center; }
    #professional_detail .product-related__item-head button {
      background-color: unset;
      border: none;
      height: 1.5625rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0.5rem;
      cursor: pointer; }
      #professional_detail .product-related__item-head button a {
        font-weight: 600;
        text-decoration: none;
        color: #876c43;
        text-align: center; }
  #professional_detail .product-related__item-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem;
    gap: 0.75rem;
    width: 100%; }
    #professional_detail .product-related__item-footer--discount {
      text-decoration-line: line-through;
      color: #6f6f70 !important;
      max-height: 0.5625rem; }
    #professional_detail .product-related__item-footer span {
      font-weight: 600;
      text-align: center;
      color: #3d8705;
      max-height: 0.5625rem; }
    #professional_detail .product-related__item-footer button a {
      font-weight: 600;
      text-decoration: none;
      color: #ffffff;
      text-align: center; }
    #professional_detail .product-related__item-footer button:hover {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #3d8705; }
#professional_detail .contact {
  background: #e6e6e6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.75rem 22.3125rem;
  gap: 1.25rem; }
  #professional_detail .contact-heading {
    font-weight: 600;
    color: #1b1b1b;
    text-align: center; }
  #professional_detail .contact-title {
    font-weight: 500;
    color: #1b1b1b;
    text-align: center; }
  #professional_detail .contact-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0rem;
    gap: 1.25rem;
    width: 100%; }
    #professional_detail .contact-form__title {
      background-color: #6f6f70;
      padding: 1rem 0.75rem;
      width: 100%;
      font-weight: 500;
      color: #ffffff; }
    #professional_detail .contact-form__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 0rem;
      gap: 0.25rem;
      width: 100%; }
      #professional_detail .contact-form__content label {
        font-weight: 500;
        color: #000000; }
      #professional_detail .contact-form__content input,
      #professional_detail .contact-form__content select {
        height: 2.75rem; }
      #professional_detail .contact-form__content input,
      #professional_detail .contact-form__content select,
      #professional_detail .contact-form__content textarea {
        resize: vertical;
        padding: 0.75rem;
        background-color: #ffffff;
        width: 100%;
        border: none;
        border-radius: 0.25rem; }
    #professional_detail .contact-form__detail {
      padding: 1rem 0.75rem;
      font-weight: 400;
      color: #1b1b1b; }
    #professional_detail .contact-form__submit {
      width: 10.3125rem;
      margin: auto;
      text-align: center;
      border: none;
      padding: 1rem 1.5rem;
      border-radius: 2.5rem;
      background: #3d8705;
      color: #ffffff;
      text-transform: uppercase;
      font-weight: 600;
      cursor: pointer; }
      #professional_detail .contact-form__submit:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #3d8705; }

/* Mobile: width < 768px */
@media only screen and (max-width: 47.938em) {
  #professional_detail {
    margin-top: 3.125rem; }
    #professional_detail .container {
      padding: 0 1rem; }
    #professional_detail .product .container {
      padding: 1.25rem 0; }
    #professional_detail .product-wrapper {
      flex-direction: column; }
    #professional_detail .product-media__btn {
      width: 60%; }
    #professional_detail .product-detail__btn {
      width: 100%; }
    #professional_detail .product-features__list {
      flex-direction: column;
      gap: 1.25rem; }
    #professional_detail .product-specs-wrapper {
      gap: 1.25rem; }
    #professional_detail .product-specs__list {
      flex-direction: column; }
    #professional_detail .product-specs__content {
      margin: 0 1rem; }
    #professional_detail .product-specs__table {
      column-count: 1; }
    #professional_detail .product-related__list {
      flex-direction: column; }
    #professional_detail .tagLine {
      flex-direction: column; }
    #professional_detail .slide .mySlides img {
      width: 100%;
      height: 100%; }
    #professional_detail .slide .next {
      display: none !important; }
    #professional_detail .discover .context-left {
      flex-direction: column-reverse; }
    #professional_detail .discover .context-right {
      flex-direction: column; }
    #professional_detail .discover-image img {
      width: 100%; }
    #professional_detail .discover-content__more {
      width: 100%; }
    #professional_detail .recommend {
      padding: 1.25rem 1rem;
      margin-bottom: 2rem; }
      #professional_detail .recommend-btn {
        width: 100%; }
    #professional_detail .services {
      margin-bottom: 2rem; }
      #professional_detail .services-main {
        padding: 1.25rem 1rem;
        flex-wrap: wrap; }
    #professional_detail .customer-services-item__answer p {
      max-height: unset; }
    #professional_detail .slide .mySlides {
      height: 100%; }
    #professional_detail .product-related {
      text-align: center; }
      #professional_detail .product-related__item button {
        width: 100%; }
    #professional_detail .contact {
      padding: 1.25rem; }
      #professional_detail .contact-form__submit {
        width: 100%; } }
/* Tablet: width >= 768px and width < 1024px */
@media only screen and (min-width: 48rem) and (max-width: 63.938rem) {
  #professional_detail {
    margin-top: 3.125rem; }
    #professional_detail .container {
      padding: 0 1rem; }
    #professional_detail .product .container {
      padding: 1.25rem 1rem; }
    #professional_detail .product-features {
      margin-top: 2.5rem;
      margin-bottom: 2.5rem; }
    #professional_detail .product-specs .container {
      gap: 1.5rem; }
    #professional_detail .product-specs__table {
      column-count: 1; }
    #professional_detail .discover .context-left {
      flex-direction: column-reverse; }
    #professional_detail .discover .context-right {
      flex-direction: column; }
    #professional_detail .discover-image {
      width: 100%; }
      #professional_detail .discover-image img {
        width: 100%; }
    #professional_detail .customer-services-main {
      margin-top: 3.75rem; }
    #professional_detail .slide .mySlides {
      height: 100%; }
    #professional_detail .services-main {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem; }
    #professional_detail .product-related {
      margin-top: 2.5rem; }
    #professional_detail .contact {
      margin-top: 2.5rem;
      padding: 1.25rem; } }
